# Pandas

In [1]:
with open("./data/bank-additional-names.txt") as f:
    print(f.read())

﻿Citation Request:
  This dataset is publicly available for research. The details are described in [Moro et al., 2014].
  Please include this citation if you plan to use this database:

  [Moro et al., 2014] S. Moro, P. Cortez and P. Rita. A Data-Driven Approach to Predict the Success of Bank Telemarketing. Decision Support Systems, In press, http://dx.doi.org/10.1016/j.dss.2014.03.001

  Available at: [pdf] http://dx.doi.org/10.1016/j.dss.2014.03.001
                [bib] http://www3.dsi.uminho.pt/pcortez/bib/2014-dss.txt

1. Title: Bank Marketing (with social/economic context)

2. Sources
   Created by: Sérgio Moro (ISCTE-IUL), Paulo Cortez (Univ. Minho) and Paulo Rita (ISCTE-IUL) @ 2014

3. Past Usage:

  The full dataset (bank-additional-full.csv) was described and analyzed in:

  S. Moro, P. Cortez and P. Rita. A Data-Driven Approach to Predict the Success of Bank Telemarketing. Decision Support Systems (2014), doi:10.1016/j.dss.2014.03.001.

4. Relevant Information:

   This dataset is based on "Bank Marketing" UCI dataset (please check the description at: http://archive.ics.uci.edu/ml/datasets/Bank+Marketing).
   The data is enriched by the addition of five new social and economic features/attributes (national wide indicators from a ~10M population country), published by the Banco de Portugal and publicly available at: https://www.bportugal.pt/estatisticasweb.
   This dataset is almost identical to the one used in [Moro et al., 2014] (it does not include all attributes due to privacy concerns).
   Using the rminer package and R tool (http://cran.r-project.org/web/packages/rminer/), we found that the addition of the five new social and economic attributes (made available here) lead to substantial improvement in the prediction of a success, even when the duration of the call is not included. Note: the file can be read in R using: d=read.table("bank-additional-full.csv",header=TRUE,sep=";")

   The zip file includes two datasets:
      1) bank-additional-full.csv with all examples, ordered by date (from May 2008 to November 2010).
      2) bank-additional.csv with 10% of the examples (4119), randomly selected from bank-additional-full.csv.
   The smallest dataset is provided to test more computationally demanding machine learning algorithms (e.g., SVM).

   The binary classification goal is to predict if the client will subscribe a bank term deposit (variable y).

5. Number of Instances: 41188 for bank-additional-full.csv

6. Number of Attributes: 20 + output attribute.

7. Attribute information:

   For more information, read [Moro et al., 2014].

   Input variables:
   # bank client data:
   1 - age (numeric)
   2 - job : type of job (categorical: "admin.","blue-collar","entrepreneur","housemaid","management","retired","self-employed","services","student","technician","unemployed","unknown")
   3 - marital : marital status (categorical: "divorced","married","single","unknown"; note: "divorced" means divorced or widowed)
   4 - education (categorical: "basic.4y","basic.6y","basic.9y","high.school","illiterate","professional.course","university.degree","unknown")
   5 - default: has credit in default? (categorical: "no","yes","unknown")
   6 - housing: has housing loan? (categorical: "no","yes","unknown")
   7 - loan: has personal loan? (categorical: "no","yes","unknown")
   # related with the last contact of the current campaign:
   8 - contact: contact communication type (categorical: "cellular","telephone")
   9 - month: last contact month of year (categorical: "jan", "feb", "mar", ..., "nov", "dec")
  10 - day_of_week: last contact day of the week (categorical: "mon","tue","wed","thu","fri")
  11 - duration: last contact duration, in seconds (numeric). Important note:  this attribute highly affects the output target (e.g., if duration=0 then y="no"). Yet, the duration is not known before a call is performed. Also, after the end of the call y is obviously known. Thus, this input should only be included for benchmark purposes and should be discarded if the intention is to have a realistic predictive model.
   # other attributes:
  12 - campaign: number of contacts performed during this campaign and for this client (numeric, includes last contact)
  13 - pdays: number of days that passed by after the client was last contacted from a previous campaign (numeric; 999 means client was not previously contacted)
  14 - previous: number of contacts performed before this campaign and for this client (numeric)
  15 - poutcome: outcome of the previous marketing campaign (categorical: "failure","nonexistent","success")
   # social and economic context attributes
  16 - emp.var.rate: employment variation rate - quarterly indicator (numeric)
  17 - cons.price.idx: consumer price index - monthly indicator (numeric)
  18 - cons.conf.idx: consumer confidence index - monthly indicator (numeric)
  19 - euribor3m: euribor 3 month rate - daily indicator (numeric)
  20 - nr.employed: number of employees - quarterly indicator (numeric)

  Output variable (desired target):
  21 - y - has the client subscribed a term deposit? (binary: "yes","no")

8. Missing Attribute Values: There are several missing values in some categorical attributes, all coded with the "unknown" label. These missing values can be treated as a possible class label or using deletion or imputation techniques.

Q.1.1  
★ pandasで　"./bank-additional.csv" をデータフレームとして開き、dfという名前の変数に格納せよ。

In [2]:
import pandas as pd

In [3]:
df = pd.read_csv("./data/bank-additional.csv", sep=";")

Q.1.2  
★ pandasで　"./bank-additional.csv" をデータフレームとして返すget_dfという関数を作成せよ。  
※以降、問題を解く時にdfが変になってしまったら、get_df()で呼び出してdfを初期化すれば良い。

In [4]:
def get_df():
    return pd.read_csv("./data/bank-additional.csv", sep=";")
df = get_df()

Q.1.3  
★dfの内容をhead,tail,info,describeで確認せよ。

In [5]:
df.head()

,age,job,marital,education,default,housing,loan,contact,month,day_of_week,...,campaign,pdays,previous,poutcome,emp.var.rate,cons.price.idx,cons.conf.idx,euribor3m,nr.employed,y
0,30,blue-collar,married,basic.9y,no,yes,no,cellular,may,fri,...,2,999,0,nonexistent,-1.8,92.893,-46.2,1.313,5099.1,no
1,39,services,single,high.school,no,no,no,telephone,may,fri,...,4,999,0,nonexistent,1.1,93.994,-36.4,4.855,5191.0,no
2,25,services,married,high.school,no,yes,no,telephone,jun,wed,...,1,999,0,nonexistent,1.4,94.465,-41.8,4.962,5228.1,no
3,38,services,married,basic.9y,no,unknown,unknown,telephone,jun,fri,...,3,999,0,nonexistent,1.4,94.465,-41.8,4.959,5228.1,no
4,47,admin.,married,university.degree,no,yes,no,cellular,nov,mon,...,1,999,0,nonexistent,-0.1,93.200,-42.0,4.191,5195.8,no

In [6]:
df.tail()

,age,job,marital,education,default,housing,loan,contact,month,day_of_week,...,campaign,pdays,previous,poutcome,emp.var.rate,cons.price.idx,cons.conf.idx,euribor3m,nr.employed,y
4114,30,admin.,married,basic.6y,no,yes,yes,cellular,jul,thu,...,1,999,0,nonexistent,1.4,93.918,-42.7,4.958,5228.1,no
4115,39,admin.,married,high.school,no,yes,no,telephone,jul,fri,...,1,999,0,nonexistent,1.4,93.918,-42.7,4.959,5228.1,no
4116,27,student,single,high.school,no,no,no,cellular,may,mon,...,2,999,1,failure,-1.8,92.893,-46.2,1.354,5099.1,no
4117,58,admin.,married,high.school,no,no,no,cellular,aug,fri,...,1,999,0,nonexistent,1.4,93.444,-36.1,4.966,5228.1,no
4118,34,management,single,high.school,no,yes,no,cellular,nov,wed,...,1,999,0,nonexistent,-0.1,93.200,-42.0,4.120,5195.8,no

In [7]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 4119 entries, 0 to 4118
Data columns (total 21 columns):
age               4119 non-null int64
job               4119 non-null object
marital           4119 non-null object
education         4119 non-null object
default           4119 non-null object
housing           4119 non-null object
loan              4119 non-null object
contact           4119 non-null object
month             4119 non-null object
day_of_week       4119 non-null object
duration          4119 non-null int64
campaign          4119 non-null int64
pdays             4119 non-null int64
previous          4119 non-null int64
poutcome          4119 non-null object
emp.var.rate      4119 non-null float64
cons.price.idx    4119 non-null float64
cons.conf.idx     4119 non-null float64
euribor3m         4119 non-null float64
nr.employed       4119 non-null float64
y                 4119 non-null object
dtypes: float64(5), int64(5), object(11)
memory usage: 675.9+ KB

In [8]:
df.describe()

,age,duration,campaign,pdays,previous,emp.var.rate,cons.price.idx,cons.conf.idx,euribor3m,nr.employed
count,4119.000000,4119.000000,4119.000000,4119.000000,4119.000000,4119.000000,4119.000000,4119.000000,4119.000000,4119.000000
mean,40.113620,256.788055,2.537266,960.422190,0.190337,0.084972,93.579704,-40.499102,3.621356,5166.481695
std,10.313362,254.703736,2.568159,191.922786,0.541788,1.563114,0.579349,4.594578,1.733591,73.667904
min,18.000000,0.000000,1.000000,0.000000,0.000000,-3.400000,92.201000,-50.800000,0.635000,4963.600000
25%,32.000000,103.000000,1.000000,999.000000,0.000000,-1.800000,93.075000,-42.700000,1.334000,5099.100000
50%,38.000000,181.000000,2.000000,999.000000,0.000000,1.100000,93.749000,-41.800000,4.857000,5191.000000
75%,47.000000,317.000000,3.000000,999.000000,0.000000,1.400000,93.994000,-36.400000,4.961000,5228.100000
max,88.000000,3643.000000,35.000000,999.000000,6.000000,1.400000,94.767000,-26.900000,5.045000,5228.100000

Q.2.1  
★dfの行数と列数はそれぞれいくつか。

In [9]:
row_num, col_num = df.shape
print("行数:" + str(row_num))
print("列数:" + str(col_num))

行数:4119
列数:21

Q.3.1  
★ dfの1行目で列名がjobの値を切り出せ。

In [10]:
df.loc[0, "job"]

'blue-collar'

Q.3.2  
★ dfの1,3行目で列名がjob,educationの値を切り出せ。

In [11]:
df.loc[[0,2], ["job","education"]]

           job    education
0  blue-collar     basic.9y
2     services  high.school

Q.3.3  
★ dfの1〜5行目で列名がcampaign,pdaysの値を切り出せ。

In [12]:
df.loc[:4, ["campaign","pdays"]]

   campaign  pdays
0         2    999
1         4    999
2         1    999
3         3    999
4         1    999

Q.3.4  
★dfの1行1列を切り出せ。

In [13]:
df.iloc[0, 0]

30

Q.3.5  
★dfの2〜4行と1〜3列を切り出せ。

In [14]:
df.iloc[1:4, :3]

   age       job  marital
1   39  services   single
2   25  services  married
3   38  services  married

Q.3.6  
★ dfの最終行と最終列の値（データフレームの一番右下）を切り出せ。

In [15]:
df.iloc[df.shape[0] - 1, df.shape[1] - 1]
# df.iloc[-1, -1]

'no'

Q.3.7.  
★ dfの列名がjobとageの列を切り出せ。

In [16]:
df[["job", "age"]]
# df.loc[:, ["job", "age"]]

                job  age
0       blue-collar   30
1          services   39
2          services   25
3          services   38
4            admin.   47
5          services   32
6            admin.   32
7      entrepreneur   41
8          services   31
9       blue-collar   35
10         services   25
11    self-employed   36
12           admin.   36
13      blue-collar   47
14           admin.   29
15         services   27
16           admin.   44
17           admin.   46
18     entrepreneur   45
19      blue-collar   50
20         services   55
21       technician   39
22       technician   29
23       management   40
24       technician   44
25       technician   38
26       technician   36
27      blue-collar   28
28           admin.   47
29           admin.   34
...             ...  ...
4089         admin.   25
4090    blue-collar   43
4091     management   38
4092    blue-collar   30
4093        retired   56
4094    blue-collar   62
4095         admin.   36
4096       services   33
4097    blue-collar   41
4098      housemaid   34
4099         admin.   58
4100         admin.   41
4101   entrepreneur   35
4102    blue-collar   31
4103       services   43
4104     technician   42
4105      housemaid   47
4106   entrepreneur   45
4107         admin.   36
4108         admin.   32
4109        retired   63
4110      housemaid   53
4111     technician   30
4112     technician   31
4113         admin.   31
4114         admin.   30
4115         admin.   39
4116        student   27
4117         admin.   58
4118     management   34

[4119 rows x 2 columns]

Q.3.8  
★ dfの列名がjobの列をシリーズとして切り出せ。

In [17]:
df["job"]

0         blue-collar
1            services
2            services
3            services
4              admin.
5            services
6              admin.
7        entrepreneur
8            services
9         blue-collar
10           services
11      self-employed
12             admin.
13        blue-collar
14             admin.
15           services
16             admin.
17             admin.
18       entrepreneur
19        blue-collar
20           services
21         technician
22         technician
23         management
24         technician
25         technician
26         technician
27        blue-collar
28             admin.
29             admin.
            ...
4089           admin.
4090      blue-collar
4091       management
4092      blue-collar
4093          retired
4094      blue-collar
4095           admin.
4096         services
4097      blue-collar
4098        housemaid
4099           admin.
4100           admin.
4101     entrepreneur
4102      blue-collar
4103         services
4104       technician
4105        housemaid
4106     entrepreneur
4107           admin.
4108           admin.
4109          retired
4110        housemaid
4111       technician
4112       technician
4113           admin.
4114           admin.
4115           admin.
4116          student
4117           admin.
4118       management
Name: job, Length: 4119, dtype: object

Q.3.9  
★ dfの列名がjobの列をデータフレームとして切り出せ。

In [18]:
df[["job"]]

                job
0       blue-collar
1          services
2          services
3          services
4            admin.
5          services
6            admin.
7      entrepreneur
8          services
9       blue-collar
10         services
11    self-employed
12           admin.
13      blue-collar
14           admin.
15         services
16           admin.
17           admin.
18     entrepreneur
19      blue-collar
20         services
21       technician
22       technician
23       management
24       technician
25       technician
26       technician
27      blue-collar
28           admin.
29           admin.
...             ...
4089         admin.
4090    blue-collar
4091     management
4092    blue-collar
4093        retired
4094    blue-collar
4095         admin.
4096       services
4097    blue-collar
4098      housemaid
4099         admin.
4100         admin.
4101   entrepreneur
4102    blue-collar
4103       services
4104     technician
4105      housemaid
4106   entrepreneur
4107         admin.
4108         admin.
4109        retired
4110      housemaid
4111     technician
4112     technician
4113         admin.
4114         admin.
4115         admin.
4116        student
4117         admin.
4118     management

[4119 rows x 1 columns]

Q.3.10  
★dfのageが20以下の行を切り出せ。

In [19]:
df[df["age"] <= 20]

,age,job,marital,education,default,housing,loan,contact,month,day_of_week,...,campaign,pdays,previous,poutcome,emp.var.rate,cons.price.idx,cons.conf.idx,euribor3m,nr.employed,y
39,20,student,single,unknown,no,no,no,cellular,oct,mon,...,3,999,3,failure,-1.1,94.601,-49.5,0.977,4963.6,no
477,18,student,single,unknown,no,no,no,cellular,sep,thu,...,1,3,1,success,-3.4,92.379,-29.8,0.809,5017.5,yes
899,18,student,single,unknown,no,yes,yes,telephone,aug,wed,...,1,999,0,nonexistent,-1.7,94.027,-38.3,0.900,4991.6,no
1275,20,student,single,high.school,no,no,no,cellular,nov,wed,...,2,999,0,nonexistent,-3.4,92.649,-30.1,0.715,5017.5,no
1377,20,student,single,unknown,no,yes,yes,cellular,apr,tue,...,2,999,0,nonexistent,-1.8,93.075,-47.1,1.405,5099.1,no
1661,18,student,single,unknown,no,yes,no,cellular,may,thu,...,1,7,2,success,-1.8,93.876,-40.0,0.677,5008.7,no
1887,19,student,single,high.school,unknown,yes,no,cellular,may,tue,...,4,999,0,nonexistent,-1.8,92.893,-46.2,1.344,5099.1,no
3268,20,blue-collar,single,high.school,no,yes,no,cellular,may,wed,...,1,999,0,nonexistent,-1.8,92.893,-46.2,1.334,5099.1,no

Q.3.11  
★ dfのageが20以下でloanがyesの行を切り出せ。

In [20]:
# ヒント
d1 = pd.DataFrame([1, 2, 3])
d2 = pd.DataFrame([5, 6, 7])
(d1 >= 2) & (d2 <= 6)

       0
0  False
1   True
2  False

In [21]:
df[(df["age"] <= 20) & (df["loan"] == "yes")]

,age,job,marital,education,default,housing,loan,contact,month,day_of_week,...,campaign,pdays,previous,poutcome,emp.var.rate,cons.price.idx,cons.conf.idx,euribor3m,nr.employed,y
899,18,student,single,unknown,no,yes,yes,telephone,aug,wed,...,1,999,0,nonexistent,-1.7,94.027,-38.3,0.900,4991.6,no
1377,20,student,single,unknown,no,yes,yes,cellular,apr,tue,...,2,999,0,nonexistent,-1.8,93.075,-47.1,1.405,5099.1,no

Q.4.1  
★ dfに「over_25」という列を追加せよ。追加する列のセルの値は全て「yes」とせよ。

In [22]:
df["over_25"] = "yes"
df.head()

,age,job,marital,education,default,housing,loan,contact,month,day_of_week,...,pdays,previous,poutcome,emp.var.rate,cons.price.idx,cons.conf.idx,euribor3m,nr.employed,y,over_25
0,30,blue-collar,married,basic.9y,no,yes,no,cellular,may,fri,...,999,0,nonexistent,-1.8,92.893,-46.2,1.313,5099.1,no,yes
1,39,services,single,high.school,no,no,no,telephone,may,fri,...,999,0,nonexistent,1.1,93.994,-36.4,4.855,5191.0,no,yes
2,25,services,married,high.school,no,yes,no,telephone,jun,wed,...,999,0,nonexistent,1.4,94.465,-41.8,4.962,5228.1,no,yes
3,38,services,married,basic.9y,no,unknown,unknown,telephone,jun,fri,...,999,0,nonexistent,1.4,94.465,-41.8,4.959,5228.1,no,yes
4,47,admin.,married,university.degree,no,yes,no,cellular,nov,mon,...,999,0,nonexistent,-0.1,93.200,-42.0,4.191,5195.8,no,yes

Q.4.2  
★ dfに「over_25」という列を追加せよ。追加する列のセルの値はageが25より大きい時に「yes」、ageが25以下の場合「no」とせよ。

In [23]:
df["over_25"] = "yes"
df.loc[df["age"] <= 25, "over_25"] = "no"
# df["over_25"] = ["yes" if age > 25 else "no" for age in df["age"]]
# df["over_25"] = df["age"].apply(lambda age : "yes" if age > 25 else "no")
df.head()

,age,job,marital,education,default,housing,loan,contact,month,day_of_week,...,pdays,previous,poutcome,emp.var.rate,cons.price.idx,cons.conf.idx,euribor3m,nr.employed,y,over_25
0,30,blue-collar,married,basic.9y,no,yes,no,cellular,may,fri,...,999,0,nonexistent,-1.8,92.893,-46.2,1.313,5099.1,no,yes
1,39,services,single,high.school,no,no,no,telephone,may,fri,...,999,0,nonexistent,1.1,93.994,-36.4,4.855,5191.0,no,yes
2,25,services,married,high.school,no,yes,no,telephone,jun,wed,...,999,0,nonexistent,1.4,94.465,-41.8,4.962,5228.1,no,no
3,38,services,married,basic.9y,no,unknown,unknown,telephone,jun,fri,...,999,0,nonexistent,1.4,94.465,-41.8,4.959,5228.1,no,yes
4,47,admin.,married,university.degree,no,yes,no,cellular,nov,mon,...,999,0,nonexistent,-0.1,93.200,-42.0,4.191,5195.8,no,yes

Q.4.3  
★ dfからage列を削除したデータフレームを表示せよ。

In [24]:
df.drop(columns = "age")
# df.drop("age", axis=1)

,job,marital,education,default,housing,loan,contact,month,day_of_week,duration,...,pdays,previous,poutcome,emp.var.rate,cons.price.idx,cons.conf.idx,euribor3m,nr.employed,y,over_25
0,blue-collar,married,basic.9y,no,yes,no,cellular,may,fri,487,...,999,0,nonexistent,-1.8,92.893,-46.2,1.313,5099.1,no,yes
1,services,single,high.school,no,no,no,telephone,may,fri,346,...,999,0,nonexistent,1.1,93.994,-36.4,4.855,5191.0,no,yes
2,services,married,high.school,no,yes,no,telephone,jun,wed,227,...,999,0,nonexistent,1.4,94.465,-41.8,4.962,5228.1,no,no
3,services,married,basic.9y,no,unknown,unknown,telephone,jun,fri,17,...,999,0,nonexistent,1.4,94.465,-41.8,4.959,5228.1,no,yes
4,admin.,married,university.degree,no,yes,no,cellular,nov,mon,58,...,999,0,nonexistent,-0.1,93.200,-42.0,4.191,5195.8,no,yes
5,services,single,university.degree,no,no,no,cellular,sep,thu,128,...,999,2,failure,-1.1,94.199,-37.5,0.884,4963.6,no,yes
6,admin.,single,university.degree,no,yes,no,cellular,sep,mon,290,...,999,0,nonexistent,-1.1,94.199,-37.5,0.879,4963.6,no,yes
7,entrepreneur,married,university.degree,unknown,yes,no,cellular,nov,mon,44,...,999,0,nonexistent,-0.1,93.200,-42.0,4.191,5195.8,no,yes
8,services,divorced,professional.course,no,no,no,cellular,nov,tue,68,...,999,1,failure,-0.1,93.200,-42.0,4.153,5195.8,no,yes
9,blue-collar,married,basic.9y,unknown,no,no,telephone,may,thu,170,...,999,0,nonexistent,1.1,93.994,-36.4,4.855,5191.0,no,yes
10,services,single,basic.6y,unknown,yes,no,cellular,jul,thu,301,...,999,0,nonexistent,1.4,93.918,-42.7,4.958,5228.1,no,no
11,self-employed,single,basic.4y,no,no,no,cellular,jul,thu,148,...,999,0,nonexistent,1.4,93.918,-42.7,4.968,5228.1,no,yes
12,admin.,married,high.school,no,no,no,telephone,may,wed,97,...,999,0,nonexistent,1.1,93.994,-36.4,4.859,5191.0,no,yes
13,blue-collar,married,basic.4y,no,yes,no,telephone,jun,thu,211,...,999,0,nonexistent,1.4,94.465,-41.8,4.958,5228.1,no,yes
14,admin.,single,high.school,no,no,no,cellular,may,fri,553,...,999,0,nonexistent,-1.8,92.893,-46.2,1.313,5099.1,no,yes
15,services,single,university.degree,no,no,no,cellular,jul,wed,698,...,999,0,nonexistent,1.4,93.918,-42.7,4.963,5228.1,no,yes
16,admin.,divorced,university.degree,no,no,no,cellular,jul,wed,191,...,999,0,nonexistent,1.4,93.918,-42.7,4.957,5228.1,no,yes
17,admin.,divorced,university.degree,no,yes,no,telephone,jul,mon,59,...,999,0,nonexistent,1.4,93.918,-42.7,4.962,5228.1,no,yes
18,entrepreneur,married,university.degree,unknown,yes,yes,cellular,aug,mon,38,...,999,0,nonexistent,1.4,93.444,-36.1,4.965,5228.1,no,yes
19,blue-collar,married,basic.4y,no,no,yes,cellular,jul,tue,849,...,999,0,nonexistent,1.4,93.918,-42.7,4.961,5228.1,yes,yes
20,services,married,basic.6y,unknown,yes,no,cellular,jul,tue,326,...,999,0,nonexistent,1.4,93.918,-42.7,4.962,5228.1,no,yes
21,technician,divorced,high.school,no,no,no,cellular,mar,mon,222,...,12,2,success,-1.8,93.369,-34.8,0.639,5008.7,yes,yes
22,technician,single,university.degree,no,yes,yes,cellular,aug,wed,626,...,999,0,nonexistent,1.4,93.444,-36.1,4.967,5228.1,no,yes
23,management,married,high.school,no,no,yes,cellular,aug,wed,119,...,999,0,nonexistent,1.4,93.444,-36.1,4.965,5228.1,no,yes
24,technician,married,professional.course,unknown,yes,no,telephone,may,fri,388,...,999,0,nonexistent,1.1,93.994,-36.4,4.864,5191.0,no,yes
25,technician,married,professional.course,no,yes,no,cellular,aug,mon,479,...,999,0,nonexistent,1.4,93.444,-36.1,4.965,5228.1,yes,yes
26,technician,divorced,professional.course,no,no,no,telephone,may,wed,446,...,999,0,nonexistent,1.1,93.994,-36.4,4.856,5191.0,no,yes
27,blue-collar,married,basic.6y,unknown,no,no,cellular,may,mon,68,...,999,1,failure,-1.8,92.893,-46.2,1.299,5099.1,no,yes
28,admin.,single,unknown,unknown,no,no,telephone,may,thu,127,...,999,0,nonexistent,1.1,93.994,-36.4,4.860,5191.0,no,yes
29,admin.,married,university.degree,no,no,no,cellular,aug,tue,109,...,999,0,nonexistent,1.4,93.444,-36.1,4.963,5228.1,no,yes
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
4089,admin.,single,university.degree,no,yes,yes,cellular,oct,fri,115,...,999,1,failure,-3.4,92.431,-26.9,0.739,5017.5,yes,no
4090,blue-collar,married,basic.4y,unknown,yes,yes,telephone,may,tue,593,...,999,0,nonexistent,1.1,93.994,-36.4,4.857,5191.0,no,yes
4091,management,married,high.school,unknown,no,no,telephone,may,thu,879,...,999,0,nonexistent,1.1,93.994,-36.4,4.860,5191.0,no,yes
4092,blue-collar,single,high.school,no,no,no,telephone,jul,wed,71,...,999,0,nonexistent,1.4,93.918,-42.7,4.956,5228.1,no,yes
4093,retired,married,basic.4y,unknown,no,no,cellular,jul,tue,580,...,999,0,nonexistent,1.4,93.918,-42.7,4.961,5228.1,no,yes
4094,blue-collar,married,basic.4y,no,yes,no,cellular,nov,mon,152,...,6,1,success,-3.4,92.649,-30.1,0.719,5017.5,no,yes
4095,admin.,single,university.degree,no,no,yes,cellular,aug,fri,69,...,999,0,nonexistent,1.4,93.444,-36.1,4.963,5228.1,no,yes
4096,services,married,high.school,no,no,no,telephone,may,mon,146,...,999,0,nonexistent,1.1,93.994,-36.4,4.857,5191.0,no,yes
4097,blue-collar,divorced,basic.9y,no,no,no,cellular,aug,tue,102,...,999,0,nonexistent,1.4,93.444,-36.1,4.963,5228.1,no,yes
4098,housemaid,single,university.degree,no,yes,no,cellular,aug,thu,159,...,999,0,nonexistent,1.4,93.444,-36.1,4.963,5228.1,no,yes
4099,admin.,divorced,high.school,no,no,no,cellular,aug,tue,290,...,999,0,nonexistent,1.4,93.444,-36.1,4.963,5228.1,no,yes
4100,admin.,divorced,high.school,no,no,no,cellular,apr,fri,620,...,999,0,nonexistent,-1.8,93.075,-47.1,1.405,5099.1,no,yes
4101,entrepreneur,single,university.degree,no,yes,no,cellular,jul,mon,88,...,999,0,nonexistent,1.4,93.918,-42.7,4.960,5228.1,no,yes
4102,blue-collar,single,basic.9y,unknown,no,yes,telephone,jun,fri,70,...,999,0,nonexistent,1.4,94.465,-41.8,4.959,5228.1,no,yes
4103,services,married,high.school,no,no,no,telephone,may,mon,77,...,999,0,nonexistent,1.1,93.994,-36.4,4.857,5191.0,no,yes
4104,technician,divorced,professional.course,no,yes,no,cellular,aug,mon,408,...,999,0,nonexistent,1.4,93.444,-36.1,4.970,5228.1,no,yes
4105,housemaid,married,basic.4y,unknown,yes,no,telephone,jul,tue,159,...,999,0,nonexistent,1.4,93.918,-42.7,4.961,5228.1,no,yes
4106,entrepreneur,divorced,basic.9y,no,yes,no,cellular,may,tue,29,...,999,0,nonexistent,-1.8,92.893,-46.2,1.344,5099.1,no,yes
4107,admin.,married,university.degree,unknown,yes,no,cellular,aug,wed,155,...,999,0,nonexistent,1.4,93.444,-36.1,4.964,5228.1,no,yes
4108,admin.,married,university.degree,no,yes,no,telephone,may,thu,151,...,999,0,nonexistent,-1.8,92.893,-46.2,1.266,5099.1,no,yes
4109,retired,married,high.school,no,no,no,cellular,oct,wed,1386,...,999,0,nonexistent,-3.4,92.431,-26.9,0.740,5017.5,no,yes
4110,housemaid,divorced,basic.6y,unknown,unknown,unknown,telephone,may,fri,85,...,999,0,nonexistent,1.1,93.994,-36.4,4.855,5191.0,no,yes
4111,technician,married,university.degree,no,no,yes,cellular,jun,fri,131,...,999,1,failure,-1.7,94.055,-39.8,0.748,4991.6,no,yes
4112,technician,single,professional.course,no,yes,no,cellular,nov,thu,155,...,999,0,nonexistent,-0.1,93.200,-42.0,4.076,5195.8,no,yes
4113,admin.,single,university.degree,no,yes,no,cellular,nov,thu,463,...,999,0,nonexistent,-0.1,93.200,-42.0,4.076,5195.8,no,yes
4114,admin.,married,basic.6y,no,yes,yes,cellular,jul,thu,53,...,999,0,nonexistent,1.4,93.918,-42.7,4.958,5228.1,no,yes
4115,admin.,married,high.school,no,yes,no,telephone,jul,fri,219,...,999,0,nonexistent,1.4,93.918,-42.7,4.959,5228.1,no,yes
4116,student,single,high.school,no,no,no,cellular,may,mon,64,...,999,1,failure,-1.8,92.893,-46.2,1.354,5099.1,no,yes
4117,admin.,married,high.school,no,no,no,cellular,aug,fri,528,...,999,0,nonexistent,1.4,93.444,-36.1,4.966,5228.1,no,yes
4118,management,single,high.school,no,yes,no,cellular,nov,wed,175,...,999,0,nonexistent,-0.1,93.200,-42.0,4.120,5195.8,no,yes

Q.4.4  
★★ dfの最終行の下に最終行と同じ内容の行を追加せよ。  
インデックス番号は最終行のインデックス番号より1つ大きくすること。

In [25]:
df.loc[len(df), :] = df.loc[len(df) - 1, :]
df.tail()

,age,job,marital,education,default,housing,loan,contact,month,day_of_week,...,pdays,previous,poutcome,emp.var.rate,cons.price.idx,cons.conf.idx,euribor3m,nr.employed,y,over_25
4115,39.0,admin.,married,high.school,no,yes,no,telephone,jul,fri,...,999.0,0.0,nonexistent,1.4,93.918,-42.7,4.959,5228.1,no,yes
4116,27.0,student,single,high.school,no,no,no,cellular,may,mon,...,999.0,1.0,failure,-1.8,92.893,-46.2,1.354,5099.1,no,yes
4117,58.0,admin.,married,high.school,no,no,no,cellular,aug,fri,...,999.0,0.0,nonexistent,1.4,93.444,-36.1,4.966,5228.1,no,yes
4118,34.0,management,single,high.school,no,yes,no,cellular,nov,wed,...,999.0,0.0,nonexistent,-0.1,93.200,-42.0,4.120,5195.8,no,yes
4119,34.0,management,single,high.school,no,yes,no,cellular,nov,wed,...,999.0,0.0,nonexistent,-0.1,93.200,-42.0,4.120,5195.8,no,yes

Q.5.1  
★ dfの「yes」というセルを全て欠損値にせよ。  
ヒント：欠損値はnp.nanで作り出せる

In [26]:
# ヒント
df[df == "yes"]

,age,job,marital,education,default,housing,loan,contact,month,day_of_week,...,pdays,previous,poutcome,emp.var.rate,cons.price.idx,cons.conf.idx,euribor3m,nr.employed,y,over_25
0,NaN,NaN,NaN,NaN,NaN,yes,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,yes
1,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,yes
2,NaN,NaN,NaN,NaN,NaN,yes,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,yes
4,NaN,NaN,NaN,NaN,NaN,yes,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,yes
5,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,yes
6,NaN,NaN,NaN,NaN,NaN,yes,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,yes
7,NaN,NaN,NaN,NaN,NaN,yes,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,yes
8,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,yes
9,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,yes
10,NaN,NaN,NaN,NaN,NaN,yes,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
11,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,yes
12,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,yes
13,NaN,NaN,NaN,NaN,NaN,yes,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,yes
14,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,yes
15,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,yes
16,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,yes
17,NaN,NaN,NaN,NaN,NaN,yes,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,yes
18,NaN,NaN,NaN,NaN,NaN,yes,yes,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,yes
19,NaN,NaN,NaN,NaN,NaN,NaN,yes,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,yes,yes
20,NaN,NaN,NaN,NaN,NaN,yes,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,yes
21,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,yes,yes
22,NaN,NaN,NaN,NaN,NaN,yes,yes,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,yes
23,NaN,NaN,NaN,NaN,NaN,NaN,yes,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,yes
24,NaN,NaN,NaN,NaN,NaN,yes,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,yes
25,NaN,NaN,NaN,NaN,NaN,yes,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,yes,yes
26,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,yes
27,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,yes
28,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,yes
29,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,yes
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
4090,NaN,NaN,NaN,NaN,NaN,yes,yes,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,yes
4091,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,yes
4092,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,yes
4093,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,yes
4094,NaN,NaN,NaN,NaN,NaN,yes,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,yes
4095,NaN,NaN,NaN,NaN,NaN,NaN,yes,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,yes
4096,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,yes
4097,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,yes
4098,NaN,NaN,NaN,NaN,NaN,yes,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,yes
4099,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,yes
4100,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,yes
4101,NaN,NaN,NaN,NaN,NaN,yes,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,yes
4102,NaN,NaN,NaN,NaN,NaN,NaN,yes,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,yes
4103,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,yes
4104,NaN,NaN,NaN,NaN,NaN,yes,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,yes
4105,NaN,NaN,NaN,NaN,NaN,yes,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,yes
4106,NaN,NaN,NaN,NaN,NaN,yes,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,yes
4107,NaN,NaN,NaN,NaN,NaN,yes,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,yes
4108,NaN,NaN,NaN,NaN,NaN,yes,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,yes
4109,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,yes
4110,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,yes
4111,NaN,NaN,NaN,NaN,NaN,NaN,yes,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,yes
4112,NaN,NaN,NaN,NaN,NaN,yes,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,yes
4113,NaN,NaN,NaN,NaN,NaN,yes,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,yes
4114,NaN,NaN,NaN,NaN,NaN,yes,yes,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,yes
4115,NaN,NaN,NaN,NaN,NaN,yes,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,yes
4116,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,yes
4117,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,yes
4118,NaN,NaN,NaN,NaN,NaN,yes,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,yes
4119,NaN,NaN,NaN,NaN,NaN,yes,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,yes

In [27]:
import numpy as np
df[df == "yes"] = np.nan
df.head()

,age,job,marital,education,default,housing,loan,contact,month,day_of_week,...,pdays,previous,poutcome,emp.var.rate,cons.price.idx,cons.conf.idx,euribor3m,nr.employed,y,over_25
0,30.0,blue-collar,married,basic.9y,no,NaN,no,cellular,may,fri,...,999.0,0.0,nonexistent,-1.8,92.893,-46.2,1.313,5099.1,no,NaN
1,39.0,services,single,high.school,no,no,no,telephone,may,fri,...,999.0,0.0,nonexistent,1.1,93.994,-36.4,4.855,5191.0,no,NaN
2,25.0,services,married,high.school,no,NaN,no,telephone,jun,wed,...,999.0,0.0,nonexistent,1.4,94.465,-41.8,4.962,5228.1,no,no
3,38.0,services,married,basic.9y,no,unknown,unknown,telephone,jun,fri,...,999.0,0.0,nonexistent,1.4,94.465,-41.8,4.959,5228.1,no,NaN
4,47.0,admin.,married,university.degree,no,NaN,no,cellular,nov,mon,...,999.0,0.0,nonexistent,-0.1,93.200,-42.0,4.191,5195.8,no,NaN

Q.5.2  
★ dfの「yes」というセルを全て欠損値にし、欠損が存在する列名を表示せよ。

In [28]:
import numpy as np
df[df == "yes"] = np.nan
df.isnull().any()
# print(df.columns[df.isnull().any()])

age               False
job               False
marital           False
education         False
default            True
housing            True
loan               True
contact           False
month             False
day_of_week       False
duration          False
campaign          False
pdays             False
previous          False
poutcome          False
emp.var.rate      False
cons.price.idx    False
cons.conf.idx     False
euribor3m         False
nr.employed       False
y                  True
over_25            True
dtype: bool

Q.5.3  
★ dfの「yes」というセルを全て欠損値にし、欠損が存在するセルを含む行を全て表示せよ。

In [29]:
import numpy as np
df[df == "yes"] = np.nan
df[df.isnull().any(axis = 1)]

,age,job,marital,education,default,housing,loan,contact,month,day_of_week,...,pdays,previous,poutcome,emp.var.rate,cons.price.idx,cons.conf.idx,euribor3m,nr.employed,y,over_25
0,30.0,blue-collar,married,basic.9y,no,NaN,no,cellular,may,fri,...,999.0,0.0,nonexistent,-1.8,92.893,-46.2,1.313,5099.1,no,NaN
1,39.0,services,single,high.school,no,no,no,telephone,may,fri,...,999.0,0.0,nonexistent,1.1,93.994,-36.4,4.855,5191.0,no,NaN
2,25.0,services,married,high.school,no,NaN,no,telephone,jun,wed,...,999.0,0.0,nonexistent,1.4,94.465,-41.8,4.962,5228.1,no,no
3,38.0,services,married,basic.9y,no,unknown,unknown,telephone,jun,fri,...,999.0,0.0,nonexistent,1.4,94.465,-41.8,4.959,5228.1,no,NaN
4,47.0,admin.,married,university.degree,no,NaN,no,cellular,nov,mon,...,999.0,0.0,nonexistent,-0.1,93.200,-42.0,4.191,5195.8,no,NaN
5,32.0,services,single,university.degree,no,no,no,cellular,sep,thu,...,999.0,2.0,failure,-1.1,94.199,-37.5,0.884,4963.6,no,NaN
6,32.0,admin.,single,university.degree,no,NaN,no,cellular,sep,mon,...,999.0,0.0,nonexistent,-1.1,94.199,-37.5,0.879,4963.6,no,NaN
7,41.0,entrepreneur,married,university.degree,unknown,NaN,no,cellular,nov,mon,...,999.0,0.0,nonexistent,-0.1,93.200,-42.0,4.191,5195.8,no,NaN
8,31.0,services,divorced,professional.course,no,no,no,cellular,nov,tue,...,999.0,1.0,failure,-0.1,93.200,-42.0,4.153,5195.8,no,NaN
9,35.0,blue-collar,married,basic.9y,unknown,no,no,telephone,may,thu,...,999.0,0.0,nonexistent,1.1,93.994,-36.4,4.855,5191.0,no,NaN
10,25.0,services,single,basic.6y,unknown,NaN,no,cellular,jul,thu,...,999.0,0.0,nonexistent,1.4,93.918,-42.7,4.958,5228.1,no,no
11,36.0,self-employed,single,basic.4y,no,no,no,cellular,jul,thu,...,999.0,0.0,nonexistent,1.4,93.918,-42.7,4.968,5228.1,no,NaN
12,36.0,admin.,married,high.school,no,no,no,telephone,may,wed,...,999.0,0.0,nonexistent,1.1,93.994,-36.4,4.859,5191.0,no,NaN
13,47.0,blue-collar,married,basic.4y,no,NaN,no,telephone,jun,thu,...,999.0,0.0,nonexistent,1.4,94.465,-41.8,4.958,5228.1,no,NaN
14,29.0,admin.,single,high.school,no,no,no,cellular,may,fri,...,999.0,0.0,nonexistent,-1.8,92.893,-46.2,1.313,5099.1,no,NaN
15,27.0,services,single,university.degree,no,no,no,cellular,jul,wed,...,999.0,0.0,nonexistent,1.4,93.918,-42.7,4.963,5228.1,no,NaN
16,44.0,admin.,divorced,university.degree,no,no,no,cellular,jul,wed,...,999.0,0.0,nonexistent,1.4,93.918,-42.7,4.957,5228.1,no,NaN
17,46.0,admin.,divorced,university.degree,no,NaN,no,telephone,jul,mon,...,999.0,0.0,nonexistent,1.4,93.918,-42.7,4.962,5228.1,no,NaN
18,45.0,entrepreneur,married,university.degree,unknown,NaN,NaN,cellular,aug,mon,...,999.0,0.0,nonexistent,1.4,93.444,-36.1,4.965,5228.1,no,NaN
19,50.0,blue-collar,married,basic.4y,no,no,NaN,cellular,jul,tue,...,999.0,0.0,nonexistent,1.4,93.918,-42.7,4.961,5228.1,NaN,NaN
20,55.0,services,married,basic.6y,unknown,NaN,no,cellular,jul,tue,...,999.0,0.0,nonexistent,1.4,93.918,-42.7,4.962,5228.1,no,NaN
21,39.0,technician,divorced,high.school,no,no,no,cellular,mar,mon,...,12.0,2.0,success,-1.8,93.369,-34.8,0.639,5008.7,NaN,NaN
22,29.0,technician,single,university.degree,no,NaN,NaN,cellular,aug,wed,...,999.0,0.0,nonexistent,1.4,93.444,-36.1,4.967,5228.1,no,NaN
23,40.0,management,married,high.school,no,no,NaN,cellular,aug,wed,...,999.0,0.0,nonexistent,1.4,93.444,-36.1,4.965,5228.1,no,NaN
24,44.0,technician,married,professional.course,unknown,NaN,no,telephone,may,fri,...,999.0,0.0,nonexistent,1.1,93.994,-36.4,4.864,5191.0,no,NaN
25,38.0,technician,married,professional.course,no,NaN,no,cellular,aug,mon,...,999.0,0.0,nonexistent,1.4,93.444,-36.1,4.965,5228.1,NaN,NaN
26,36.0,technician,divorced,professional.course,no,no,no,telephone,may,wed,...,999.0,0.0,nonexistent,1.1,93.994,-36.4,4.856,5191.0,no,NaN
27,28.0,blue-collar,married,basic.6y,unknown,no,no,cellular,may,mon,...,999.0,1.0,failure,-1.8,92.893,-46.2,1.299,5099.1,no,NaN
28,47.0,admin.,single,unknown,unknown,no,no,telephone,may,thu,...,999.0,0.0,nonexistent,1.1,93.994,-36.4,4.860,5191.0,no,NaN
29,34.0,admin.,married,university.degree,no,no,no,cellular,aug,tue,...,999.0,0.0,nonexistent,1.4,93.444,-36.1,4.963,5228.1,no,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
4090,43.0,blue-collar,married,basic.4y,unknown,NaN,NaN,telephone,may,tue,...,999.0,0.0,nonexistent,1.1,93.994,-36.4,4.857,5191.0,no,NaN
4091,38.0,management,married,high.school,unknown,no,no,telephone,may,thu,...,999.0,0.0,nonexistent,1.1,93.994,-36.4,4.860,5191.0,no,NaN
4092,30.0,blue-collar,single,high.school,no,no,no,telephone,jul,wed,...,999.0,0.0,nonexistent,1.4,93.918,-42.7,4.956,5228.1,no,NaN
4093,56.0,retired,married,basic.4y,unknown,no,no,cellular,jul,tue,...,999.0,0.0,nonexistent,1.4,93.918,-42.7,4.961,5228.1,no,NaN
4094,62.0,blue-collar,married,basic.4y,no,NaN,no,cellular,nov,mon,...,6.0,1.0,success,-3.4,92.649,-30.1,0.719,5017.5,no,NaN
4095,36.0,admin.,single,university.degree,no,no,NaN,cellular,aug,fri,...,999.0,0.0,nonexistent,1.4,93.444,-36.1,4.963,5228.1,no,NaN
4096,33.0,services,married,high.school,no,no,no,telephone,may,mon,...,999.0,0.0,nonexistent,1.1,93.994,-36.4,4.857,5191.0,no,NaN
4097,41.0,blue-collar,divorced,basic.9y,no,no,no,cellular,aug,tue,...,999.0,0.0,nonexistent,1.4,93.444,-36.1,4.963,5228.1,no,NaN
4098,34.0,housemaid,single,university.degree,no,NaN,no,cellular,aug,thu,...,999.0,0.0,nonexistent,1.4,93.444,-36.1,4.963,5228.1,no,NaN
4099,58.0,admin.,divorced,high.school,no,no,no,cellular,aug,tue,...,999.0,0.0,nonexistent,1.4,93.444,-36.1,4.963,5228.1,no,NaN
4100,41.0,admin.,divorced,high.school,no,no,no,cellular,apr,fri,...,999.0,0.0,nonexistent,-1.8,93.075,-47.1,1.405,5099.1,no,NaN
4101,35.0,entrepreneur,single,university.degree,no,NaN,no,cellular,jul,mon,...,999.0,0.0,nonexistent,1.4,93.918,-42.7,4.960,5228.1,no,NaN
4102,31.0,blue-collar,single,basic.9y,unknown,no,NaN,telephone,jun,fri,...,999.0,0.0,nonexistent,1.4,94.465,-41.8,4.959,5228.1,no,NaN
4103,43.0,services,married,high.school,no,no,no,telephone,may,mon,...,999.0,0.0,nonexistent,1.1,93.994,-36.4,4.857,5191.0,no,NaN
4104,42.0,technician,divorced,professional.course,no,NaN,no,cellular,aug,mon,...,999.0,0.0,nonexistent,1.4,93.444,-36.1,4.970,5228.1,no,NaN
4105,47.0,housemaid,married,basic.4y,unknown,NaN,no,telephone,jul,tue,...,999.0,0.0,nonexistent,1.4,93.918,-42.7,4.961,5228.1,no,NaN
4106,45.0,entrepreneur,divorced,basic.9y,no,NaN,no,cellular,may,tue,...,999.0,0.0,nonexistent,-1.8,92.893,-46.2,1.344,5099.1,no,NaN
4107,36.0,admin.,married,university.degree,unknown,NaN,no,cellular,aug,wed,...,999.0,0.0,nonexistent,1.4,93.444,-36.1,4.964,5228.1,no,NaN
4108,32.0,admin.,married,university.degree,no,NaN,no,telephone,may,thu,...,999.0,0.0,nonexistent,-1.8,92.893,-46.2,1.266,5099.1,no,NaN
4109,63.0,retired,married,high.school,no,no,no,cellular,oct,wed,...,999.0,0.0,nonexistent,-3.4,92.431,-26.9,0.740,5017.5,no,NaN
4110,53.0,housemaid,divorced,basic.6y,unknown,unknown,unknown,telephone,may,fri,...,999.0,0.0,nonexistent,1.1,93.994,-36.4,4.855,5191.0,no,NaN
4111,30.0,technician,married,university.degree,no,no,NaN,cellular,jun,fri,...,999.0,1.0,failure,-1.7,94.055,-39.8,0.748,4991.6,no,NaN
4112,31.0,technician,single,professional.course,no,NaN,no,cellular,nov,thu,...,999.0,0.0,nonexistent,-0.1,93.200,-42.0,4.076,5195.8,no,NaN
4113,31.0,admin.,single,university.degree,no,NaN,no,cellular,nov,thu,...,999.0,0.0,nonexistent,-0.1,93.200,-42.0,4.076,5195.8,no,NaN
4114,30.0,admin.,married,basic.6y,no,NaN,NaN,cellular,jul,thu,...,999.0,0.0,nonexistent,1.4,93.918,-42.7,4.958,5228.1,no,NaN
4115,39.0,admin.,married,high.school,no,NaN,no,telephone,jul,fri,...,999.0,0.0,nonexistent,1.4,93.918,-42.7,4.959,5228.1,no,NaN
4116,27.0,student,single,high.school,no,no,no,cellular,may,mon,...,999.0,1.0,failure,-1.8,92.893,-46.2,1.354,5099.1,no,NaN
4117,58.0,admin.,married,high.school,no,no,no,cellular,aug,fri,...,999.0,0.0,nonexistent,1.4,93.444,-36.1,4.966,5228.1,no,NaN
4118,34.0,management,single,high.school,no,NaN,no,cellular,nov,wed,...,999.0,0.0,nonexistent,-0.1,93.200,-42.0,4.120,5195.8,no,NaN
4119,34.0,management,single,high.school,no,NaN,no,cellular,nov,wed,...,999.0,0.0,nonexistent,-0.1,93.200,-42.0,4.120,5195.8,no,NaN

Q.5.4  
★ dfの「yes」というセルを全て欠損値にし、欠損を含む行を削除したデータフレームを表示せよ。

In [30]:
import numpy as np
df[df == "yes"] = np.nan
df.dropna()

,age,job,marital,education,default,housing,loan,contact,month,day_of_week,...,pdays,previous,poutcome,emp.var.rate,cons.price.idx,cons.conf.idx,euribor3m,nr.employed,y,over_25
39,20.0,student,single,unknown,no,no,no,cellular,oct,mon,...,999.0,3.0,failure,-1.1,94.601,-49.5,0.977,4963.6,no,no
200,21.0,student,single,high.school,no,no,no,cellular,aug,tue,...,999.0,1.0,failure,-2.9,92.201,-31.4,0.884,5076.2,no,no
215,24.0,services,single,university.degree,no,no,no,cellular,jul,thu,...,999.0,0.0,nonexistent,1.4,93.918,-42.7,4.963,5228.1,no,no
307,25.0,admin.,single,university.degree,no,no,no,telephone,jun,wed,...,999.0,0.0,nonexistent,1.4,94.465,-41.8,4.864,5228.1,no,no
325,25.0,admin.,married,university.degree,no,no,no,telephone,may,fri,...,999.0,0.0,nonexistent,1.1,93.994,-36.4,4.864,5191.0,no,no
331,25.0,self-employed,single,university.degree,no,no,no,telephone,may,tue,...,999.0,0.0,nonexistent,1.1,93.994,-36.4,4.856,5191.0,no,no
423,24.0,student,single,high.school,no,no,no,cellular,jul,wed,...,999.0,1.0,failure,-2.9,92.469,-33.6,1.029,5076.2,no,no
439,24.0,student,single,high.school,unknown,no,no,cellular,jul,tue,...,999.0,0.0,nonexistent,1.4,93.918,-42.7,4.962,5228.1,no,no
496,23.0,blue-collar,single,high.school,no,no,no,cellular,jul,wed,...,999.0,0.0,nonexistent,1.4,93.918,-42.7,4.957,5228.1,no,no
555,24.0,technician,single,university.degree,no,no,no,cellular,jul,wed,...,999.0,0.0,nonexistent,1.4,93.918,-42.7,4.963,5228.1,no,no
558,24.0,technician,single,university.degree,no,no,no,cellular,jul,thu,...,999.0,0.0,nonexistent,1.4,93.918,-42.7,4.968,5228.1,no,no
671,25.0,unemployed,married,high.school,unknown,unknown,unknown,cellular,jul,fri,...,999.0,0.0,nonexistent,1.4,93.918,-42.7,4.963,5228.1,no,no
718,24.0,student,single,high.school,no,no,no,cellular,jun,tue,...,999.0,1.0,failure,-1.7,94.055,-39.8,0.737,4991.6,no,no
737,24.0,technician,single,professional.course,no,no,no,telephone,may,tue,...,999.0,0.0,nonexistent,-1.8,92.893,-46.2,1.266,5099.1,no,no
778,24.0,student,married,university.degree,no,no,no,cellular,jul,tue,...,999.0,0.0,nonexistent,1.4,93.918,-42.7,4.961,5228.1,no,no
848,25.0,admin.,single,university.degree,no,no,no,telephone,jun,mon,...,999.0,0.0,nonexistent,-2.9,92.963,-40.8,1.260,5076.2,no,no
873,25.0,admin.,married,unknown,no,no,no,telephone,jun,mon,...,999.0,0.0,nonexistent,1.4,94.465,-41.8,4.865,5228.1,no,no
875,23.0,technician,single,high.school,no,no,no,cellular,may,thu,...,999.0,0.0,nonexistent,-1.8,92.893,-46.2,1.266,5099.1,no,no
922,25.0,admin.,single,university.degree,no,no,no,cellular,may,wed,...,999.0,0.0,nonexistent,-1.8,92.893,-46.2,1.334,5099.1,no,no
1258,22.0,services,single,basic.4y,no,no,no,telephone,may,wed,...,999.0,0.0,nonexistent,1.1,93.994,-36.4,4.858,5191.0,no,no
1275,20.0,student,single,high.school,no,no,no,cellular,nov,wed,...,999.0,0.0,nonexistent,-3.4,92.649,-30.1,0.715,5017.5,no,no
1466,24.0,services,married,high.school,no,no,no,cellular,may,thu,...,999.0,0.0,nonexistent,-1.8,92.893,-46.2,1.266,5099.1,no,no
1483,25.0,blue-collar,married,basic.4y,no,no,no,cellular,jul,thu,...,999.0,0.0,nonexistent,1.4,93.918,-42.7,4.958,5228.1,no,no
1510,21.0,student,single,professional.course,no,no,no,telephone,nov,wed,...,999.0,0.0,nonexistent,-3.4,92.649,-30.1,0.716,5017.5,no,no
1525,24.0,admin.,single,university.degree,no,no,no,cellular,aug,thu,...,999.0,1.0,failure,-2.9,92.201,-31.4,0.851,5076.2,no,no
1604,25.0,student,single,high.school,no,no,no,telephone,nov,tue,...,999.0,0.0,nonexistent,-3.4,92.649,-30.1,0.715,5017.5,no,no
1670,24.0,student,single,high.school,no,no,no,telephone,jun,wed,...,999.0,0.0,nonexistent,1.4,94.465,-41.8,4.864,5228.1,no,no
1694,25.0,blue-collar,single,basic.9y,no,no,no,cellular,may,fri,...,999.0,0.0,nonexistent,-1.8,92.893,-46.2,1.250,5099.1,no,no
1925,24.0,technician,single,professional.course,no,no,no,cellular,may,fri,...,999.0,0.0,nonexistent,-1.8,92.893,-46.2,1.250,5099.1,no,no
1955,25.0,services,single,high.school,no,no,no,cellular,aug,fri,...,999.0,0.0,nonexistent,-2.9,92.201,-31.4,0.869,5076.2,no,no
2003,25.0,blue-collar,single,basic.4y,no,no,no,telephone,jun,wed,...,999.0,0.0,nonexistent,1.4,94.465,-41.8,4.959,5228.1,no,no
2030,24.0,student,single,high.school,no,no,no,cellular,may,mon,...,999.0,0.0,nonexistent,-1.8,92.893,-46.2,1.244,5099.1,no,no
2255,25.0,self-employed,single,university.degree,no,no,no,telephone,may,wed,...,999.0,0.0,nonexistent,1.1,93.994,-36.4,4.857,5191.0,no,no
2282,25.0,admin.,single,university.degree,no,no,no,telephone,aug,tue,...,999.0,0.0,nonexistent,-2.9,92.201,-31.4,0.838,5076.2,no,no
2286,22.0,blue-collar,single,basic.9y,no,no,no,cellular,jul,fri,...,999.0,0.0,nonexistent,1.4,93.918,-42.7,4.957,5228.1,no,no
2336,25.0,blue-collar,married,basic.4y,no,no,no,cellular,may,fri,...,999.0,0.0,nonexistent,-1.8,92.893,-46.2,1.250,5099.1,no,no
2349,24.0,services,single,high.school,no,no,no,telephone,may,mon,...,999.0,0.0,nonexistent,1.1,93.994,-36.4,4.858,5191.0,no,no
2354,25.0,self-employed,single,unknown,no,no,no,cellular,apr,mon,...,999.0,1.0,failure,-1.8,93.749,-34.6,0.643,5008.7,no,no
2364,25.0,admin.,married,high.school,no,no,no,cellular,jul,wed,...,999.0,0.0,nonexistent,1.4,93.918,-42.7,4.962,5228.1,no,no
2387,24.0,technician,divorced,professional.course,no,no,no,cellular,apr,fri,...,999.0,1.0,failure,-1.8,93.075,-47.1,1.405,5099.1,no,no
2402,25.0,admin.,married,high.school,no,no,no,telephone,may,fri,...,999.0,0.0,nonexistent,1.1,93.994,-36.4,4.855,5191.0,no,no
2406,24.0,technician,single,university.degree,no,no,no,cellular,oct,wed,...,999.0,0.0,nonexistent,-3.4,92.431,-26.9,0.724,5017.5,no,no
2716,25.0,services,single,high.school,no,no,no,cellular,oct,mon,...,999.0,2.0,failure,-1.1,94.601,-49.5,0.977,4963.6,no,no
2820,24.0,blue-collar,single,unknown,no,no,no,cellular,jul,tue,...,999.0,0.0,nonexistent,1.4,93.918,-42.7,4.961,5228.1,no,no
2840,25.0,blue-collar,single,basic.9y,no,no,no,cellular,may,fri,...,999.0,1.0,failure,-1.8,92.893,-46.2,1.250,5099.1,no,no
2879,23.0,blue-collar,single,basic.9y,no,no,no,cellular,jul,tue,...,999.0,0.0,nonexistent,1.4,93.918,-42.7,4.961,5228.1,no,no
3140,25.0,student,single,high.school,no,no,no,telephone,may,fri,...,999.0,0.0,nonexistent,1.1,93.994,-36.4,4.855,5191.0,no,no
3333,25.0,self-employed,single,university.degree,no,no,no,telephone,jun,mon,...,999.0,0.0,nonexistent,1.4,94.465,-41.8,4.960,5228.1,no,no
3378,24.0,blue-collar,single,basic.6y,no,no,no,telephone,jul,wed,...,999.0,0.0,nonexistent,1.4,93.918,-42.7,4.963,5228.1,no,no
3454,23.0,services,single,high.school,no,unknown,unknown,cellular,jul,wed,...,999.0,0.0,nonexistent,1.4,93.918,-42.7,4.963,5228.1,no,no
3564,25.0,admin.,single,basic.9y,no,no,no,cellular,jul,thu,...,999.0,0.0,nonexistent,1.4,93.918,-42.7,4.968,5228.1,no,no
3648,22.0,student,single,high.school,no,no,no,cellular,aug,thu,...,3.0,1.0,success,-2.9,92.201,-31.4,0.873,5076.2,no,no
3659,22.0,blue-collar,single,basic.6y,unknown,unknown,unknown,telephone,may,tue,...,999.0,0.0,nonexistent,1.1,93.994,-36.4,4.856,5191.0,no,no
3673,24.0,student,single,professional.course,no,no,no,cellular,nov,mon,...,999.0,1.0,failure,-3.4,92.649,-30.1,0.722,5017.5,no,no
3722,25.0,admin.,single,university.degree,no,no,no,cellular,jul,fri,...,999.0,0.0,nonexistent,1.4,93.918,-42.7,4.957,5228.1,no,no
3767,24.0,blue-collar,single,unknown,no,no,no,cellular,jul,tue,...,999.0,0.0,nonexistent,1.4,93.918,-42.7,4.961,5228.1,no,no
3830,25.0,blue-collar,married,high.school,no,no,no,telephone,may,mon,...,999.0,0.0,nonexistent,1.1,93.994,-36.4,4.857,5191.0,no,no
4019,23.0,student,single,high.school,no,no,no,cellular,may,thu,...,999.0,0.0,nonexistent,-1.8,92.893,-46.2,1.270,5099.1,no,no

Q.5.5  
★ dfの「yes」というセルを全て欠損値にし、欠損を含む列を削除したデータフレームを表示せよ。

In [31]:
import numpy as np
df[df == "yes"] = np.nan
df.dropna(axis = 1)

,age,job,marital,education,contact,month,day_of_week,duration,campaign,pdays,previous,poutcome,emp.var.rate,cons.price.idx,cons.conf.idx,euribor3m,nr.employed
0,30.0,blue-collar,married,basic.9y,cellular,may,fri,487.0,2.0,999.0,0.0,nonexistent,-1.8,92.893,-46.2,1.313,5099.1
1,39.0,services,single,high.school,telephone,may,fri,346.0,4.0,999.0,0.0,nonexistent,1.1,93.994,-36.4,4.855,5191.0
2,25.0,services,married,high.school,telephone,jun,wed,227.0,1.0,999.0,0.0,nonexistent,1.4,94.465,-41.8,4.962,5228.1
3,38.0,services,married,basic.9y,telephone,jun,fri,17.0,3.0,999.0,0.0,nonexistent,1.4,94.465,-41.8,4.959,5228.1
4,47.0,admin.,married,university.degree,cellular,nov,mon,58.0,1.0,999.0,0.0,nonexistent,-0.1,93.200,-42.0,4.191,5195.8
5,32.0,services,single,university.degree,cellular,sep,thu,128.0,3.0,999.0,2.0,failure,-1.1,94.199,-37.5,0.884,4963.6
6,32.0,admin.,single,university.degree,cellular,sep,mon,290.0,4.0,999.0,0.0,nonexistent,-1.1,94.199,-37.5,0.879,4963.6
7,41.0,entrepreneur,married,university.degree,cellular,nov,mon,44.0,2.0,999.0,0.0,nonexistent,-0.1,93.200,-42.0,4.191,5195.8
8,31.0,services,divorced,professional.course,cellular,nov,tue,68.0,1.0,999.0,1.0,failure,-0.1,93.200,-42.0,4.153,5195.8
9,35.0,blue-collar,married,basic.9y,telephone,may,thu,170.0,1.0,999.0,0.0,nonexistent,1.1,93.994,-36.4,4.855,5191.0
10,25.0,services,single,basic.6y,cellular,jul,thu,301.0,1.0,999.0,0.0,nonexistent,1.4,93.918,-42.7,4.958,5228.1
11,36.0,self-employed,single,basic.4y,cellular,jul,thu,148.0,1.0,999.0,0.0,nonexistent,1.4,93.918,-42.7,4.968,5228.1
12,36.0,admin.,married,high.school,telephone,may,wed,97.0,2.0,999.0,0.0,nonexistent,1.1,93.994,-36.4,4.859,5191.0
13,47.0,blue-collar,married,basic.4y,telephone,jun,thu,211.0,2.0,999.0,0.0,nonexistent,1.4,94.465,-41.8,4.958,5228.1
14,29.0,admin.,single,high.school,cellular,may,fri,553.0,2.0,999.0,0.0,nonexistent,-1.8,92.893,-46.2,1.313,5099.1
15,27.0,services,single,university.degree,cellular,jul,wed,698.0,2.0,999.0,0.0,nonexistent,1.4,93.918,-42.7,4.963,5228.1
16,44.0,admin.,divorced,university.degree,cellular,jul,wed,191.0,6.0,999.0,0.0,nonexistent,1.4,93.918,-42.7,4.957,5228.1
17,46.0,admin.,divorced,university.degree,telephone,jul,mon,59.0,4.0,999.0,0.0,nonexistent,1.4,93.918,-42.7,4.962,5228.1
18,45.0,entrepreneur,married,university.degree,cellular,aug,mon,38.0,2.0,999.0,0.0,nonexistent,1.4,93.444,-36.1,4.965,5228.1
19,50.0,blue-collar,married,basic.4y,cellular,jul,tue,849.0,1.0,999.0,0.0,nonexistent,1.4,93.918,-42.7,4.961,5228.1
20,55.0,services,married,basic.6y,cellular,jul,tue,326.0,6.0,999.0,0.0,nonexistent,1.4,93.918,-42.7,4.962,5228.1
21,39.0,technician,divorced,high.school,cellular,mar,mon,222.0,1.0,12.0,2.0,success,-1.8,93.369,-34.8,0.639,5008.7
22,29.0,technician,single,university.degree,cellular,aug,wed,626.0,3.0,999.0,0.0,nonexistent,1.4,93.444,-36.1,4.967,5228.1
23,40.0,management,married,high.school,cellular,aug,wed,119.0,1.0,999.0,0.0,nonexistent,1.4,93.444,-36.1,4.965,5228.1
24,44.0,technician,married,professional.course,telephone,may,fri,388.0,7.0,999.0,0.0,nonexistent,1.1,93.994,-36.4,4.864,5191.0
25,38.0,technician,married,professional.course,cellular,aug,mon,479.0,1.0,999.0,0.0,nonexistent,1.4,93.444,-36.1,4.965,5228.1
26,36.0,technician,divorced,professional.course,telephone,may,wed,446.0,1.0,999.0,0.0,nonexistent,1.1,93.994,-36.4,4.856,5191.0
27,28.0,blue-collar,married,basic.6y,cellular,may,mon,68.0,2.0,999.0,1.0,failure,-1.8,92.893,-46.2,1.299,5099.1
28,47.0,admin.,single,unknown,telephone,may,thu,127.0,1.0,999.0,0.0,nonexistent,1.1,93.994,-36.4,4.860,5191.0
29,34.0,admin.,married,university.degree,cellular,aug,tue,109.0,1.0,999.0,0.0,nonexistent,1.4,93.444,-36.1,4.963,5228.1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
4090,43.0,blue-collar,married,basic.4y,telephone,may,tue,593.0,2.0,999.0,0.0,nonexistent,1.1,93.994,-36.4,4.857,5191.0
4091,38.0,management,married,high.school,telephone,may,thu,879.0,2.0,999.0,0.0,nonexistent,1.1,93.994,-36.4,4.860,5191.0
4092,30.0,blue-collar,single,high.school,telephone,jul,wed,71.0,1.0,999.0,0.0,nonexistent,1.4,93.918,-42.7,4.956,5228.1
4093,56.0,retired,married,basic.4y,cellular,jul,tue,580.0,3.0,999.0,0.0,nonexistent,1.4,93.918,-42.7,4.961,5228.1
4094,62.0,blue-collar,married,basic.4y,cellular,nov,mon,152.0,1.0,6.0,1.0,success,-3.4,92.649,-30.1,0.719,5017.5
4095,36.0,admin.,single,university.degree,cellular,aug,fri,69.0,2.0,999.0,0.0,nonexistent,1.4,93.444,-36.1,4.963,5228.1
4096,33.0,services,married,high.school,telephone,may,mon,146.0,2.0,999.0,0.0,nonexistent,1.1,93.994,-36.4,4.857,5191.0
4097,41.0,blue-collar,divorced,basic.9y,cellular,aug,tue,102.0,1.0,999.0,0.0,nonexistent,1.4,93.444,-36.1,4.963,5228.1
4098,34.0,housemaid,single,university.degree,cellular,aug,thu,159.0,3.0,999.0,0.0,nonexistent,1.4,93.444,-36.1,4.963,5228.1
4099,58.0,admin.,divorced,high.school,cellular,aug,tue,290.0,1.0,999.0,0.0,nonexistent,1.4,93.444,-36.1,4.963,5228.1
4100,41.0,admin.,divorced,high.school,cellular,apr,fri,620.0,1.0,999.0,0.0,nonexistent,-1.8,93.075,-47.1,1.405,5099.1
4101,35.0,entrepreneur,single,university.degree,cellular,jul,mon,88.0,5.0,999.0,0.0,nonexistent,1.4,93.918,-42.7,4.960,5228.1
4102,31.0,blue-collar,single,basic.9y,telephone,jun,fri,70.0,2.0,999.0,0.0,nonexistent,1.4,94.465,-41.8,4.959,5228.1
4103,43.0,services,married,high.school,telephone,may,mon,77.0,1.0,999.0,0.0,nonexistent,1.1,93.994,-36.4,4.857,5191.0
4104,42.0,technician,divorced,professional.course,cellular,aug,mon,408.0,1.0,999.0,0.0,nonexistent,1.4,93.444,-36.1,4.970,5228.1
4105,47.0,housemaid,married,basic.4y,telephone,jul,tue,159.0,2.0,999.0,0.0,nonexistent,1.4,93.918,-42.7,4.961,5228.1
4106,45.0,entrepreneur,divorced,basic.9y,cellular,may,tue,29.0,3.0,999.0,0.0,nonexistent,-1.8,92.893,-46.2,1.344,5099.1
4107,36.0,admin.,married,university.degree,cellular,aug,wed,155.0,11.0,999.0,0.0,nonexistent,1.4,93.444,-36.1,4.964,5228.1
4108,32.0,admin.,married,university.degree,telephone,may,thu,151.0,5.0,999.0,0.0,nonexistent,-1.8,92.893,-46.2,1.266,5099.1
4109,63.0,retired,married,high.school,cellular,oct,wed,1386.0,1.0,999.0,0.0,nonexistent,-3.4,92.431,-26.9,0.740,5017.5
4110,53.0,housemaid,divorced,basic.6y,telephone,may,fri,85.0,2.0,999.0,0.0,nonexistent,1.1,93.994,-36.4,4.855,5191.0
4111,30.0,technician,married,university.degree,cellular,jun,fri,131.0,1.0,999.0,1.0,failure,-1.7,94.055,-39.8,0.748,4991.6
4112,31.0,technician,single,professional.course,cellular,nov,thu,155.0,1.0,999.0,0.0,nonexistent,-0.1,93.200,-42.0,4.076,5195.8
4113,31.0,admin.,single,university.degree,cellular,nov,thu,463.0,1.0,999.0,0.0,nonexistent,-0.1,93.200,-42.0,4.076,5195.8
4114,30.0,admin.,married,basic.6y,cellular,jul,thu,53.0,1.0,999.0,0.0,nonexistent,1.4,93.918,-42.7,4.958,5228.1
4115,39.0,admin.,married,high.school,telephone,jul,fri,219.0,1.0,999.0,0.0,nonexistent,1.4,93.918,-42.7,4.959,5228.1
4116,27.0,student,single,high.school,cellular,may,mon,64.0,2.0,999.0,1.0,failure,-1.8,92.893,-46.2,1.354,5099.1
4117,58.0,admin.,married,high.school,cellular,aug,fri,528.0,1.0,999.0,0.0,nonexistent,1.4,93.444,-36.1,4.966,5228.1
4118,34.0,management,single,high.school,cellular,nov,wed,175.0,1.0,999.0,0.0,nonexistent,-0.1,93.200,-42.0,4.120,5195.8
4119,34.0,management,single,high.school,cellular,nov,wed,175.0,1.0,999.0,0.0,nonexistent,-0.1,93.200,-42.0,4.120,5195.8

Q.5.6  
★ dfの「yes」というセルを全て欠損値にし、欠損を含むセルを「unknown」という値に変更したデータフレームを表示せよ。

In [32]:
import numpy as np
df[df == "yes"] = np.nan
df.fillna("unknown")

,age,job,marital,education,default,housing,loan,contact,month,day_of_week,...,pdays,previous,poutcome,emp.var.rate,cons.price.idx,cons.conf.idx,euribor3m,nr.employed,y,over_25
0,30.0,blue-collar,married,basic.9y,no,unknown,no,cellular,may,fri,...,999.0,0.0,nonexistent,-1.8,92.893,-46.2,1.313,5099.1,no,unknown
1,39.0,services,single,high.school,no,no,no,telephone,may,fri,...,999.0,0.0,nonexistent,1.1,93.994,-36.4,4.855,5191.0,no,unknown
2,25.0,services,married,high.school,no,unknown,no,telephone,jun,wed,...,999.0,0.0,nonexistent,1.4,94.465,-41.8,4.962,5228.1,no,no
3,38.0,services,married,basic.9y,no,unknown,unknown,telephone,jun,fri,...,999.0,0.0,nonexistent,1.4,94.465,-41.8,4.959,5228.1,no,unknown
4,47.0,admin.,married,university.degree,no,unknown,no,cellular,nov,mon,...,999.0,0.0,nonexistent,-0.1,93.200,-42.0,4.191,5195.8,no,unknown
5,32.0,services,single,university.degree,no,no,no,cellular,sep,thu,...,999.0,2.0,failure,-1.1,94.199,-37.5,0.884,4963.6,no,unknown
6,32.0,admin.,single,university.degree,no,unknown,no,cellular,sep,mon,...,999.0,0.0,nonexistent,-1.1,94.199,-37.5,0.879,4963.6,no,unknown
7,41.0,entrepreneur,married,university.degree,unknown,unknown,no,cellular,nov,mon,...,999.0,0.0,nonexistent,-0.1,93.200,-42.0,4.191,5195.8,no,unknown
8,31.0,services,divorced,professional.course,no,no,no,cellular,nov,tue,...,999.0,1.0,failure,-0.1,93.200,-42.0,4.153,5195.8,no,unknown
9,35.0,blue-collar,married,basic.9y,unknown,no,no,telephone,may,thu,...,999.0,0.0,nonexistent,1.1,93.994,-36.4,4.855,5191.0,no,unknown
10,25.0,services,single,basic.6y,unknown,unknown,no,cellular,jul,thu,...,999.0,0.0,nonexistent,1.4,93.918,-42.7,4.958,5228.1,no,no
11,36.0,self-employed,single,basic.4y,no,no,no,cellular,jul,thu,...,999.0,0.0,nonexistent,1.4,93.918,-42.7,4.968,5228.1,no,unknown
12,36.0,admin.,married,high.school,no,no,no,telephone,may,wed,...,999.0,0.0,nonexistent,1.1,93.994,-36.4,4.859,5191.0,no,unknown
13,47.0,blue-collar,married,basic.4y,no,unknown,no,telephone,jun,thu,...,999.0,0.0,nonexistent,1.4,94.465,-41.8,4.958,5228.1,no,unknown
14,29.0,admin.,single,high.school,no,no,no,cellular,may,fri,...,999.0,0.0,nonexistent,-1.8,92.893,-46.2,1.313,5099.1,no,unknown
15,27.0,services,single,university.degree,no,no,no,cellular,jul,wed,...,999.0,0.0,nonexistent,1.4,93.918,-42.7,4.963,5228.1,no,unknown
16,44.0,admin.,divorced,university.degree,no,no,no,cellular,jul,wed,...,999.0,0.0,nonexistent,1.4,93.918,-42.7,4.957,5228.1,no,unknown
17,46.0,admin.,divorced,university.degree,no,unknown,no,telephone,jul,mon,...,999.0,0.0,nonexistent,1.4,93.918,-42.7,4.962,5228.1,no,unknown
18,45.0,entrepreneur,married,university.degree,unknown,unknown,unknown,cellular,aug,mon,...,999.0,0.0,nonexistent,1.4,93.444,-36.1,4.965,5228.1,no,unknown
19,50.0,blue-collar,married,basic.4y,no,no,unknown,cellular,jul,tue,...,999.0,0.0,nonexistent,1.4,93.918,-42.7,4.961,5228.1,unknown,unknown
20,55.0,services,married,basic.6y,unknown,unknown,no,cellular,jul,tue,...,999.0,0.0,nonexistent,1.4,93.918,-42.7,4.962,5228.1,no,unknown
21,39.0,technician,divorced,high.school,no,no,no,cellular,mar,mon,...,12.0,2.0,success,-1.8,93.369,-34.8,0.639,5008.7,unknown,unknown
22,29.0,technician,single,university.degree,no,unknown,unknown,cellular,aug,wed,...,999.0,0.0,nonexistent,1.4,93.444,-36.1,4.967,5228.1,no,unknown
23,40.0,management,married,high.school,no,no,unknown,cellular,aug,wed,...,999.0,0.0,nonexistent,1.4,93.444,-36.1,4.965,5228.1,no,unknown
24,44.0,technician,married,professional.course,unknown,unknown,no,telephone,may,fri,...,999.0,0.0,nonexistent,1.1,93.994,-36.4,4.864,5191.0,no,unknown
25,38.0,technician,married,professional.course,no,unknown,no,cellular,aug,mon,...,999.0,0.0,nonexistent,1.4,93.444,-36.1,4.965,5228.1,unknown,unknown
26,36.0,technician,divorced,professional.course,no,no,no,telephone,may,wed,...,999.0,0.0,nonexistent,1.1,93.994,-36.4,4.856,5191.0,no,unknown
27,28.0,blue-collar,married,basic.6y,unknown,no,no,cellular,may,mon,...,999.0,1.0,failure,-1.8,92.893,-46.2,1.299,5099.1,no,unknown
28,47.0,admin.,single,unknown,unknown,no,no,telephone,may,thu,...,999.0,0.0,nonexistent,1.1,93.994,-36.4,4.860,5191.0,no,unknown
29,34.0,admin.,married,university.degree,no,no,no,cellular,aug,tue,...,999.0,0.0,nonexistent,1.4,93.444,-36.1,4.963,5228.1,no,unknown
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
4090,43.0,blue-collar,married,basic.4y,unknown,unknown,unknown,telephone,may,tue,...,999.0,0.0,nonexistent,1.1,93.994,-36.4,4.857,5191.0,no,unknown
4091,38.0,management,married,high.school,unknown,no,no,telephone,may,thu,...,999.0,0.0,nonexistent,1.1,93.994,-36.4,4.860,5191.0,no,unknown
4092,30.0,blue-collar,single,high.school,no,no,no,telephone,jul,wed,...,999.0,0.0,nonexistent,1.4,93.918,-42.7,4.956,5228.1,no,unknown
4093,56.0,retired,married,basic.4y,unknown,no,no,cellular,jul,tue,...,999.0,0.0,nonexistent,1.4,93.918,-42.7,4.961,5228.1,no,unknown
4094,62.0,blue-collar,married,basic.4y,no,unknown,no,cellular,nov,mon,...,6.0,1.0,success,-3.4,92.649,-30.1,0.719,5017.5,no,unknown
4095,36.0,admin.,single,university.degree,no,no,unknown,cellular,aug,fri,...,999.0,0.0,nonexistent,1.4,93.444,-36.1,4.963,5228.1,no,unknown
4096,33.0,services,married,high.school,no,no,no,telephone,may,mon,...,999.0,0.0,nonexistent,1.1,93.994,-36.4,4.857,5191.0,no,unknown
4097,41.0,blue-collar,divorced,basic.9y,no,no,no,cellular,aug,tue,...,999.0,0.0,nonexistent,1.4,93.444,-36.1,4.963,5228.1,no,unknown
4098,34.0,housemaid,single,university.degree,no,unknown,no,cellular,aug,thu,...,999.0,0.0,nonexistent,1.4,93.444,-36.1,4.963,5228.1,no,unknown
4099,58.0,admin.,divorced,high.school,no,no,no,cellular,aug,tue,...,999.0,0.0,nonexistent,1.4,93.444,-36.1,4.963,5228.1,no,unknown
4100,41.0,admin.,divorced,high.school,no,no,no,cellular,apr,fri,...,999.0,0.0,nonexistent,-1.8,93.075,-47.1,1.405,5099.1,no,unknown
4101,35.0,entrepreneur,single,university.degree,no,unknown,no,cellular,jul,mon,...,999.0,0.0,nonexistent,1.4,93.918,-42.7,4.960,5228.1,no,unknown
4102,31.0,blue-collar,single,basic.9y,unknown,no,unknown,telephone,jun,fri,...,999.0,0.0,nonexistent,1.4,94.465,-41.8,4.959,5228.1,no,unknown
4103,43.0,services,married,high.school,no,no,no,telephone,may,mon,...,999.0,0.0,nonexistent,1.1,93.994,-36.4,4.857,5191.0,no,unknown
4104,42.0,technician,divorced,professional.course,no,unknown,no,cellular,aug,mon,...,999.0,0.0,nonexistent,1.4,93.444,-36.1,4.970,5228.1,no,unknown
4105,47.0,housemaid,married,basic.4y,unknown,unknown,no,telephone,jul,tue,...,999.0,0.0,nonexistent,1.4,93.918,-42.7,4.961,5228.1,no,unknown
4106,45.0,entrepreneur,divorced,basic.9y,no,unknown,no,cellular,may,tue,...,999.0,0.0,nonexistent,-1.8,92.893,-46.2,1.344,5099.1,no,unknown
4107,36.0,admin.,married,university.degree,unknown,unknown,no,cellular,aug,wed,...,999.0,0.0,nonexistent,1.4,93.444,-36.1,4.964,5228.1,no,unknown
4108,32.0,admin.,married,university.degree,no,unknown,no,telephone,may,thu,...,999.0,0.0,nonexistent,-1.8,92.893,-46.2,1.266,5099.1,no,unknown
4109,63.0,retired,married,high.school,no,no,no,cellular,oct,wed,...,999.0,0.0,nonexistent,-3.4,92.431,-26.9,0.740,5017.5,no,unknown
4110,53.0,housemaid,divorced,basic.6y,unknown,unknown,unknown,telephone,may,fri,...,999.0,0.0,nonexistent,1.1,93.994,-36.4,4.855,5191.0,no,unknown
4111,30.0,technician,married,university.degree,no,no,unknown,cellular,jun,fri,...,999.0,1.0,failure,-1.7,94.055,-39.8,0.748,4991.6,no,unknown
4112,31.0,technician,single,professional.course,no,unknown,no,cellular,nov,thu,...,999.0,0.0,nonexistent,-0.1,93.200,-42.0,4.076,5195.8,no,unknown
4113,31.0,admin.,single,university.degree,no,unknown,no,cellular,nov,thu,...,999.0,0.0,nonexistent,-0.1,93.200,-42.0,4.076,5195.8,no,unknown
4114,30.0,admin.,married,basic.6y,no,unknown,unknown,cellular,jul,thu,...,999.0,0.0,nonexistent,1.4,93.918,-42.7,4.958,5228.1,no,unknown
4115,39.0,admin.,married,high.school,no,unknown,no,telephone,jul,fri,...,999.0,0.0,nonexistent,1.4,93.918,-42.7,4.959,5228.1,no,unknown
4116,27.0,student,single,high.school,no,no,no,cellular,may,mon,...,999.0,1.0,failure,-1.8,92.893,-46.2,1.354,5099.1,no,unknown
4117,58.0,admin.,married,high.school,no,no,no,cellular,aug,fri,...,999.0,0.0,nonexistent,1.4,93.444,-36.1,4.966,5228.1,no,unknown
4118,34.0,management,single,high.school,no,unknown,no,cellular,nov,wed,...,999.0,0.0,nonexistent,-0.1,93.200,-42.0,4.120,5195.8,no,unknown
4119,34.0,management,single,high.school,no,unknown,no,cellular,nov,wed,...,999.0,0.0,nonexistent,-0.1,93.200,-42.0,4.120,5195.8,no,unknown

Q.6.1  
★ dfのjob列の重複行を削除したデータフレームを表示せよ。

In [33]:
df.drop_duplicates("job")

,age,job,marital,education,default,housing,loan,contact,month,day_of_week,...,pdays,previous,poutcome,emp.var.rate,cons.price.idx,cons.conf.idx,euribor3m,nr.employed,y,over_25
0,30.0,blue-collar,married,basic.9y,no,NaN,no,cellular,may,fri,...,999.0,0.0,nonexistent,-1.8,92.893,-46.2,1.313,5099.1,no,NaN
1,39.0,services,single,high.school,no,no,no,telephone,may,fri,...,999.0,0.0,nonexistent,1.1,93.994,-36.4,4.855,5191.0,no,NaN
4,47.0,admin.,married,university.degree,no,NaN,no,cellular,nov,mon,...,999.0,0.0,nonexistent,-0.1,93.200,-42.0,4.191,5195.8,no,NaN
7,41.0,entrepreneur,married,university.degree,unknown,NaN,no,cellular,nov,mon,...,999.0,0.0,nonexistent,-0.1,93.200,-42.0,4.191,5195.8,no,NaN
11,36.0,self-employed,single,basic.4y,no,no,no,cellular,jul,thu,...,999.0,0.0,nonexistent,1.4,93.918,-42.7,4.968,5228.1,no,NaN
21,39.0,technician,divorced,high.school,no,no,no,cellular,mar,mon,...,12.0,2.0,success,-1.8,93.369,-34.8,0.639,5008.7,NaN,NaN
23,40.0,management,married,high.school,no,no,NaN,cellular,aug,wed,...,999.0,0.0,nonexistent,1.4,93.444,-36.1,4.965,5228.1,no,NaN
39,20.0,student,single,unknown,no,no,no,cellular,oct,mon,...,999.0,3.0,failure,-1.1,94.601,-49.5,0.977,4963.6,no,no
42,76.0,retired,married,university.degree,no,no,no,cellular,aug,thu,...,999.0,1.0,failure,-1.7,94.027,-38.3,0.899,4991.6,no,NaN
44,32.0,housemaid,married,basic.4y,no,NaN,NaN,cellular,may,fri,...,999.0,0.0,nonexistent,-1.8,92.893,-46.2,1.313,5099.1,no,NaN
78,33.0,unemployed,married,basic.9y,no,no,no,telephone,jun,fri,...,999.0,0.0,nonexistent,1.4,94.465,-41.8,4.959,5228.1,no,NaN
148,53.0,unknown,married,basic.9y,no,no,NaN,cellular,nov,wed,...,999.0,1.0,failure,-3.4,92.649,-30.1,0.716,5017.5,no,NaN

Q.7.1  
★ dfのage列の最大値、最小値、平均値を求めよ。

In [34]:
print(df["age"].max())
print(df["age"].min())
print(df["age"].mean())

88.0
18.0
40.1121359223301

Q.7.2  
★ 列ごとにdfの「unknown」というセルの個数を求めよ。

In [35]:
(df == "unknown").sum()

age                 0
job                39
marital            11
education         167
default           803
housing           105
loan              105
contact             0
month               0
day_of_week         0
duration            0
campaign            0
pdays               0
previous            0
poutcome            0
emp.var.rate        0
cons.price.idx      0
cons.conf.idx       0
euribor3m           0
nr.employed         0
y                   0
over_25             0
dtype: int64

Q.7.3  
★ dfの「unknown」というセルの総個数を求めよ。

In [36]:
(df == "unknown").sum().sum()
# np.array(df == "unknown").sum()

1230

Q.7.4  
★ dfのageが20以上、30未満のセル個数を求めよ。

In [37]:
# ヒント
import numpy as np
np.array([True, True, False]) & np.array([False, True, True])

array([False,  True, False])

In [38]:
((df["age"] >= 20) & (df["age"] < 30)).sum()

547

Q.8.1  
★ dfのjob列の列名をworkに変更したデータフレームを表示せよ。

In [39]:
df.rename(columns={"job":"work"})

,age,work,marital,education,default,housing,loan,contact,month,day_of_week,...,pdays,previous,poutcome,emp.var.rate,cons.price.idx,cons.conf.idx,euribor3m,nr.employed,y,over_25
0,30.0,blue-collar,married,basic.9y,no,NaN,no,cellular,may,fri,...,999.0,0.0,nonexistent,-1.8,92.893,-46.2,1.313,5099.1,no,NaN
1,39.0,services,single,high.school,no,no,no,telephone,may,fri,...,999.0,0.0,nonexistent,1.1,93.994,-36.4,4.855,5191.0,no,NaN
2,25.0,services,married,high.school,no,NaN,no,telephone,jun,wed,...,999.0,0.0,nonexistent,1.4,94.465,-41.8,4.962,5228.1,no,no
3,38.0,services,married,basic.9y,no,unknown,unknown,telephone,jun,fri,...,999.0,0.0,nonexistent,1.4,94.465,-41.8,4.959,5228.1,no,NaN
4,47.0,admin.,married,university.degree,no,NaN,no,cellular,nov,mon,...,999.0,0.0,nonexistent,-0.1,93.200,-42.0,4.191,5195.8,no,NaN
5,32.0,services,single,university.degree,no,no,no,cellular,sep,thu,...,999.0,2.0,failure,-1.1,94.199,-37.5,0.884,4963.6,no,NaN
6,32.0,admin.,single,university.degree,no,NaN,no,cellular,sep,mon,...,999.0,0.0,nonexistent,-1.1,94.199,-37.5,0.879,4963.6,no,NaN
7,41.0,entrepreneur,married,university.degree,unknown,NaN,no,cellular,nov,mon,...,999.0,0.0,nonexistent,-0.1,93.200,-42.0,4.191,5195.8,no,NaN
8,31.0,services,divorced,professional.course,no,no,no,cellular,nov,tue,...,999.0,1.0,failure,-0.1,93.200,-42.0,4.153,5195.8,no,NaN
9,35.0,blue-collar,married,basic.9y,unknown,no,no,telephone,may,thu,...,999.0,0.0,nonexistent,1.1,93.994,-36.4,4.855,5191.0,no,NaN
10,25.0,services,single,basic.6y,unknown,NaN,no,cellular,jul,thu,...,999.0,0.0,nonexistent,1.4,93.918,-42.7,4.958,5228.1,no,no
11,36.0,self-employed,single,basic.4y,no,no,no,cellular,jul,thu,...,999.0,0.0,nonexistent,1.4,93.918,-42.7,4.968,5228.1,no,NaN
12,36.0,admin.,married,high.school,no,no,no,telephone,may,wed,...,999.0,0.0,nonexistent,1.1,93.994,-36.4,4.859,5191.0,no,NaN
13,47.0,blue-collar,married,basic.4y,no,NaN,no,telephone,jun,thu,...,999.0,0.0,nonexistent,1.4,94.465,-41.8,4.958,5228.1,no,NaN
14,29.0,admin.,single,high.school,no,no,no,cellular,may,fri,...,999.0,0.0,nonexistent,-1.8,92.893,-46.2,1.313,5099.1,no,NaN
15,27.0,services,single,university.degree,no,no,no,cellular,jul,wed,...,999.0,0.0,nonexistent,1.4,93.918,-42.7,4.963,5228.1,no,NaN
16,44.0,admin.,divorced,university.degree,no,no,no,cellular,jul,wed,...,999.0,0.0,nonexistent,1.4,93.918,-42.7,4.957,5228.1,no,NaN
17,46.0,admin.,divorced,university.degree,no,NaN,no,telephone,jul,mon,...,999.0,0.0,nonexistent,1.4,93.918,-42.7,4.962,5228.1,no,NaN
18,45.0,entrepreneur,married,university.degree,unknown,NaN,NaN,cellular,aug,mon,...,999.0,0.0,nonexistent,1.4,93.444,-36.1,4.965,5228.1,no,NaN
19,50.0,blue-collar,married,basic.4y,no,no,NaN,cellular,jul,tue,...,999.0,0.0,nonexistent,1.4,93.918,-42.7,4.961,5228.1,NaN,NaN
20,55.0,services,married,basic.6y,unknown,NaN,no,cellular,jul,tue,...,999.0,0.0,nonexistent,1.4,93.918,-42.7,4.962,5228.1,no,NaN
21,39.0,technician,divorced,high.school,no,no,no,cellular,mar,mon,...,12.0,2.0,success,-1.8,93.369,-34.8,0.639,5008.7,NaN,NaN
22,29.0,technician,single,university.degree,no,NaN,NaN,cellular,aug,wed,...,999.0,0.0,nonexistent,1.4,93.444,-36.1,4.967,5228.1,no,NaN
23,40.0,management,married,high.school,no,no,NaN,cellular,aug,wed,...,999.0,0.0,nonexistent,1.4,93.444,-36.1,4.965,5228.1,no,NaN
24,44.0,technician,married,professional.course,unknown,NaN,no,telephone,may,fri,...,999.0,0.0,nonexistent,1.1,93.994,-36.4,4.864,5191.0,no,NaN
25,38.0,technician,married,professional.course,no,NaN,no,cellular,aug,mon,...,999.0,0.0,nonexistent,1.4,93.444,-36.1,4.965,5228.1,NaN,NaN
26,36.0,technician,divorced,professional.course,no,no,no,telephone,may,wed,...,999.0,0.0,nonexistent,1.1,93.994,-36.4,4.856,5191.0,no,NaN
27,28.0,blue-collar,married,basic.6y,unknown,no,no,cellular,may,mon,...,999.0,1.0,failure,-1.8,92.893,-46.2,1.299,5099.1,no,NaN
28,47.0,admin.,single,unknown,unknown,no,no,telephone,may,thu,...,999.0,0.0,nonexistent,1.1,93.994,-36.4,4.860,5191.0,no,NaN
29,34.0,admin.,married,university.degree,no,no,no,cellular,aug,tue,...,999.0,0.0,nonexistent,1.4,93.444,-36.1,4.963,5228.1,no,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
4090,43.0,blue-collar,married,basic.4y,unknown,NaN,NaN,telephone,may,tue,...,999.0,0.0,nonexistent,1.1,93.994,-36.4,4.857,5191.0,no,NaN
4091,38.0,management,married,high.school,unknown,no,no,telephone,may,thu,...,999.0,0.0,nonexistent,1.1,93.994,-36.4,4.860,5191.0,no,NaN
4092,30.0,blue-collar,single,high.school,no,no,no,telephone,jul,wed,...,999.0,0.0,nonexistent,1.4,93.918,-42.7,4.956,5228.1,no,NaN
4093,56.0,retired,married,basic.4y,unknown,no,no,cellular,jul,tue,...,999.0,0.0,nonexistent,1.4,93.918,-42.7,4.961,5228.1,no,NaN
4094,62.0,blue-collar,married,basic.4y,no,NaN,no,cellular,nov,mon,...,6.0,1.0,success,-3.4,92.649,-30.1,0.719,5017.5,no,NaN
4095,36.0,admin.,single,university.degree,no,no,NaN,cellular,aug,fri,...,999.0,0.0,nonexistent,1.4,93.444,-36.1,4.963,5228.1,no,NaN
4096,33.0,services,married,high.school,no,no,no,telephone,may,mon,...,999.0,0.0,nonexistent,1.1,93.994,-36.4,4.857,5191.0,no,NaN
4097,41.0,blue-collar,divorced,basic.9y,no,no,no,cellular,aug,tue,...,999.0,0.0,nonexistent,1.4,93.444,-36.1,4.963,5228.1,no,NaN
4098,34.0,housemaid,single,university.degree,no,NaN,no,cellular,aug,thu,...,999.0,0.0,nonexistent,1.4,93.444,-36.1,4.963,5228.1,no,NaN
4099,58.0,admin.,divorced,high.school,no,no,no,cellular,aug,tue,...,999.0,0.0,nonexistent,1.4,93.444,-36.1,4.963,5228.1,no,NaN
4100,41.0,admin.,divorced,high.school,no,no,no,cellular,apr,fri,...,999.0,0.0,nonexistent,-1.8,93.075,-47.1,1.405,5099.1,no,NaN
4101,35.0,entrepreneur,single,university.degree,no,NaN,no,cellular,jul,mon,...,999.0,0.0,nonexistent,1.4,93.918,-42.7,4.960,5228.1,no,NaN
4102,31.0,blue-collar,single,basic.9y,unknown,no,NaN,telephone,jun,fri,...,999.0,0.0,nonexistent,1.4,94.465,-41.8,4.959,5228.1,no,NaN
4103,43.0,services,married,high.school,no,no,no,telephone,may,mon,...,999.0,0.0,nonexistent,1.1,93.994,-36.4,4.857,5191.0,no,NaN
4104,42.0,technician,divorced,professional.course,no,NaN,no,cellular,aug,mon,...,999.0,0.0,nonexistent,1.4,93.444,-36.1,4.970,5228.1,no,NaN
4105,47.0,housemaid,married,basic.4y,unknown,NaN,no,telephone,jul,tue,...,999.0,0.0,nonexistent,1.4,93.918,-42.7,4.961,5228.1,no,NaN
4106,45.0,entrepreneur,divorced,basic.9y,no,NaN,no,cellular,may,tue,...,999.0,0.0,nonexistent,-1.8,92.893,-46.2,1.344,5099.1,no,NaN
4107,36.0,admin.,married,university.degree,unknown,NaN,no,cellular,aug,wed,...,999.0,0.0,nonexistent,1.4,93.444,-36.1,4.964,5228.1,no,NaN
4108,32.0,admin.,married,university.degree,no,NaN,no,telephone,may,thu,...,999.0,0.0,nonexistent,-1.8,92.893,-46.2,1.266,5099.1,no,NaN
4109,63.0,retired,married,high.school,no,no,no,cellular,oct,wed,...,999.0,0.0,nonexistent,-3.4,92.431,-26.9,0.740,5017.5,no,NaN
4110,53.0,housemaid,divorced,basic.6y,unknown,unknown,unknown,telephone,may,fri,...,999.0,0.0,nonexistent,1.1,93.994,-36.4,4.855,5191.0,no,NaN
4111,30.0,technician,married,university.degree,no,no,NaN,cellular,jun,fri,...,999.0,1.0,failure,-1.7,94.055,-39.8,0.748,4991.6,no,NaN
4112,31.0,technician,single,professional.course,no,NaN,no,cellular,nov,thu,...,999.0,0.0,nonexistent,-0.1,93.200,-42.0,4.076,5195.8,no,NaN
4113,31.0,admin.,single,university.degree,no,NaN,no,cellular,nov,thu,...,999.0,0.0,nonexistent,-0.1,93.200,-42.0,4.076,5195.8,no,NaN
4114,30.0,admin.,married,basic.6y,no,NaN,NaN,cellular,jul,thu,...,999.0,0.0,nonexistent,1.4,93.918,-42.7,4.958,5228.1,no,NaN
4115,39.0,admin.,married,high.school,no,NaN,no,telephone,jul,fri,...,999.0,0.0,nonexistent,1.4,93.918,-42.7,4.959,5228.1,no,NaN
4116,27.0,student,single,high.school,no,no,no,cellular,may,mon,...,999.0,1.0,failure,-1.8,92.893,-46.2,1.354,5099.1,no,NaN
4117,58.0,admin.,married,high.school,no,no,no,cellular,aug,fri,...,999.0,0.0,nonexistent,1.4,93.444,-36.1,4.966,5228.1,no,NaN
4118,34.0,management,single,high.school,no,NaN,no,cellular,nov,wed,...,999.0,0.0,nonexistent,-0.1,93.200,-42.0,4.120,5195.8,no,NaN
4119,34.0,management,single,high.school,no,NaN,no,cellular,nov,wed,...,999.0,0.0,nonexistent,-0.1,93.200,-42.0,4.120,5195.8,no,NaN

Q.8.2  
★ dfのindexを「No.{数字}」に変更せよ。  
例  
0 → No.0  
1 → No.1  
2 → No.2

In [40]:
# ヒント
["No." + str(i) for i in range(5)]

['No.0', 'No.1', 'No.2', 'No.3', 'No.4']

In [41]:
df.index = ["No." + str(i) for i in range(len(df))]
df.head()

,age,job,marital,education,default,housing,loan,contact,month,day_of_week,...,pdays,previous,poutcome,emp.var.rate,cons.price.idx,cons.conf.idx,euribor3m,nr.employed,y,over_25
No.0,30.0,blue-collar,married,basic.9y,no,NaN,no,cellular,may,fri,...,999.0,0.0,nonexistent,-1.8,92.893,-46.2,1.313,5099.1,no,NaN
No.1,39.0,services,single,high.school,no,no,no,telephone,may,fri,...,999.0,0.0,nonexistent,1.1,93.994,-36.4,4.855,5191.0,no,NaN
No.2,25.0,services,married,high.school,no,NaN,no,telephone,jun,wed,...,999.0,0.0,nonexistent,1.4,94.465,-41.8,4.962,5228.1,no,no
No.3,38.0,services,married,basic.9y,no,unknown,unknown,telephone,jun,fri,...,999.0,0.0,nonexistent,1.4,94.465,-41.8,4.959,5228.1,no,NaN
No.4,47.0,admin.,married,university.degree,no,NaN,no,cellular,nov,mon,...,999.0,0.0,nonexistent,-0.1,93.200,-42.0,4.191,5195.8,no,NaN

Q.8.3  
★ dfのindexを「No.{数字}」に変更した後、indexをリセットせよ。

In [42]:
df.index = ["No." + str(i) for i in range(len(df))]
df = df.reset_index(drop=True)
df.head()

,age,job,marital,education,default,housing,loan,contact,month,day_of_week,...,pdays,previous,poutcome,emp.var.rate,cons.price.idx,cons.conf.idx,euribor3m,nr.employed,y,over_25
0,30.0,blue-collar,married,basic.9y,no,NaN,no,cellular,may,fri,...,999.0,0.0,nonexistent,-1.8,92.893,-46.2,1.313,5099.1,no,NaN
1,39.0,services,single,high.school,no,no,no,telephone,may,fri,...,999.0,0.0,nonexistent,1.1,93.994,-36.4,4.855,5191.0,no,NaN
2,25.0,services,married,high.school,no,NaN,no,telephone,jun,wed,...,999.0,0.0,nonexistent,1.4,94.465,-41.8,4.962,5228.1,no,no
3,38.0,services,married,basic.9y,no,unknown,unknown,telephone,jun,fri,...,999.0,0.0,nonexistent,1.4,94.465,-41.8,4.959,5228.1,no,NaN
4,47.0,admin.,married,university.degree,no,NaN,no,cellular,nov,mon,...,999.0,0.0,nonexistent,-0.1,93.200,-42.0,4.191,5195.8,no,NaN

Q.9.1    
★ groupbyを用いて、jobごとの最大ageを求めよ。  
ヒント：最初にjob列とage列でデータフレームを切り出した後に処理をすると見やすくなる。

In [43]:
df[["job", "age"]].groupby("job").max()

                age
job
admin.         62.0
blue-collar    71.0
entrepreneur   60.0
housemaid      85.0
management     77.0
retired        88.0
self-employed  67.0
services       60.0
student        39.0
technician     65.0
unemployed     64.0
unknown        66.0

Q.9.2    
★ groupbyを用いて、jobごとmaritalごとの平均ageを求めよ。  
ヒント: 平均はmean()で求められる。

In [44]:
df[["job", "age", "marital"]].groupby(["job","marital"]).mean()

                              age
job           marital
admin.        divorced  43.892857
              married   40.502924
              single    33.604167
              unknown   33.666667
blue-collar   divorced  44.424242
              married   40.566246
              single    32.808743
              unknown   56.000000
entrepreneur  divorced  44.454545
              married   43.018692
              single    35.000000
housemaid     divorced  51.166667
              married   46.090909
              single    36.933333
management    divorced  45.166667
              married   43.673820
              single    34.160000
retired       divorced  61.709677
              married   61.355372
              single    54.090909
              unknown   57.666667
self-employed divorced  44.750000
              married   43.446809
              single    34.020833
              unknown   35.000000
services      divorced  42.812500
              married   40.237705
              single    32.290000
              unknown   34.000000
student       married   27.666667
              single    26.658228
technician    divorced  41.025641
              married   41.145833
              single    33.592105
              unknown   29.000000
unemployed    divorced  46.727273
              married   41.338028
              single    32.214286
              unknown   37.000000
unknown       divorced  38.000000
              married   49.500000
              single    40.555556

Q.10.1    
★ ピボットせよ。値はage、インデックスはjobとmarital、集計関数は平均を用いよ。  
ヒント：pivot_tableの引数にaggfunc=np.meanを指定する。

In [45]:
import numpy as mean
df.pivot_table(values="age", index=["job", "marital"], aggfunc=np.mean)

                              age
job           marital
admin.        divorced  43.892857
              married   40.502924
              single    33.604167
              unknown   33.666667
blue-collar   divorced  44.424242
              married   40.566246
              single    32.808743
              unknown   56.000000
entrepreneur  divorced  44.454545
              married   43.018692
              single    35.000000
housemaid     divorced  51.166667
              married   46.090909
              single    36.933333
management    divorced  45.166667
              married   43.673820
              single    34.160000
retired       divorced  61.709677
              married   61.355372
              single    54.090909
              unknown   57.666667
self-employed divorced  44.750000
              married   43.446809
              single    34.020833
              unknown   35.000000
services      divorced  42.812500
              married   40.237705
              single    32.290000
              unknown   34.000000
student       married   27.666667
              single    26.658228
technician    divorced  41.025641
              married   41.145833
              single    33.592105
              unknown   29.000000
unemployed    divorced  46.727273
              married   41.338028
              single    32.214286
              unknown   37.000000
unknown       divorced  38.000000
              married   49.500000
              single    40.555556

Q.11.1    
★ age列をfloat型に変更せよ。

In [46]:
df["age"] = df["age"].astype(float)
df.head()

,age,job,marital,education,default,housing,loan,contact,month,day_of_week,...,pdays,previous,poutcome,emp.var.rate,cons.price.idx,cons.conf.idx,euribor3m,nr.employed,y,over_25
0,30.0,blue-collar,married,basic.9y,no,NaN,no,cellular,may,fri,...,999.0,0.0,nonexistent,-1.8,92.893,-46.2,1.313,5099.1,no,NaN
1,39.0,services,single,high.school,no,no,no,telephone,may,fri,...,999.0,0.0,nonexistent,1.1,93.994,-36.4,4.855,5191.0,no,NaN
2,25.0,services,married,high.school,no,NaN,no,telephone,jun,wed,...,999.0,0.0,nonexistent,1.4,94.465,-41.8,4.962,5228.1,no,no
3,38.0,services,married,basic.9y,no,unknown,unknown,telephone,jun,fri,...,999.0,0.0,nonexistent,1.4,94.465,-41.8,4.959,5228.1,no,NaN
4,47.0,admin.,married,university.degree,no,NaN,no,cellular,nov,mon,...,999.0,0.0,nonexistent,-0.1,93.200,-42.0,4.191,5195.8,no,NaN

Q.11.2    
★ age列で降順にソートしたデータフレームを表示せよ。

In [47]:
df.sort_values("age", ascending=False)

,age,job,marital,education,default,housing,loan,contact,month,day_of_week,...,pdays,previous,poutcome,emp.var.rate,cons.price.idx,cons.conf.idx,euribor3m,nr.employed,y,over_25
1215,88.0,retired,divorced,basic.4y,no,NaN,NaN,cellular,mar,wed,...,999.0,0.0,nonexistent,-1.8,92.843,-50.0,1.663,5099.1,no,NaN
1796,86.0,retired,married,unknown,unknown,NaN,no,cellular,sep,tue,...,999.0,0.0,nonexistent,-1.1,94.199,-37.5,0.877,4963.6,NaN,NaN
696,86.0,retired,married,unknown,unknown,NaN,NaN,cellular,sep,tue,...,7.0,4.0,success,-1.1,94.199,-37.5,0.877,4963.6,NaN,NaN
1123,85.0,housemaid,divorced,basic.4y,unknown,NaN,no,telephone,oct,fri,...,999.0,0.0,nonexistent,-3.4,92.431,-26.9,0.739,5017.5,no,NaN
3549,82.0,housemaid,divorced,basic.4y,no,no,no,cellular,jul,wed,...,999.0,0.0,nonexistent,-1.7,94.215,-40.3,0.881,4991.6,NaN,NaN
150,82.0,housemaid,married,basic.4y,no,no,no,telephone,sep,tue,...,3.0,2.0,success,-1.1,94.199,-37.5,0.877,4963.6,NaN,NaN
4066,81.0,retired,married,basic.4y,no,NaN,no,cellular,oct,wed,...,999.0,2.0,failure,-1.1,94.601,-49.5,1.016,4963.6,NaN,NaN
4067,81.0,retired,married,basic.4y,no,NaN,no,cellular,aug,mon,...,999.0,0.0,nonexistent,-1.7,94.027,-38.3,0.898,4991.6,no,NaN
338,81.0,retired,married,basic.4y,no,no,no,cellular,may,mon,...,999.0,0.0,nonexistent,-1.8,92.893,-46.2,1.354,5099.1,NaN,NaN
1591,80.0,retired,married,basic.4y,no,no,no,cellular,may,mon,...,3.0,3.0,success,-1.8,93.876,-40.0,0.697,5008.7,NaN,NaN
3210,80.0,retired,married,basic.4y,no,no,no,cellular,mar,fri,...,6.0,4.0,success,-1.8,93.369,-34.8,0.649,5008.7,NaN,NaN
3654,80.0,retired,divorced,basic.4y,no,no,NaN,cellular,dec,fri,...,999.0,1.0,failure,-3.0,92.713,-33.0,0.718,5023.5,no,NaN
3037,80.0,retired,divorced,high.school,no,NaN,no,cellular,oct,thu,...,999.0,0.0,nonexistent,-3.4,92.431,-26.9,0.722,5017.5,NaN,NaN
2980,78.0,retired,married,basic.9y,no,NaN,no,telephone,oct,thu,...,999.0,0.0,nonexistent,-3.4,92.431,-26.9,0.754,5017.5,no,NaN
1260,78.0,retired,married,high.school,no,NaN,no,cellular,may,mon,...,3.0,2.0,failure,-1.8,92.893,-46.2,1.264,5099.1,no,NaN
1540,78.0,retired,married,basic.4y,no,no,no,cellular,jul,mon,...,999.0,0.0,nonexistent,-1.7,94.215,-40.3,0.870,4991.6,NaN,NaN
589,77.0,management,married,unknown,no,NaN,no,cellular,aug,fri,...,3.0,6.0,success,-1.7,94.027,-38.3,0.905,4991.6,NaN,NaN
905,77.0,retired,divorced,professional.course,no,no,no,cellular,aug,mon,...,999.0,0.0,nonexistent,-1.7,94.027,-38.3,0.898,4991.6,no,NaN
42,76.0,retired,married,university.degree,no,no,no,cellular,aug,thu,...,999.0,1.0,failure,-1.7,94.027,-38.3,0.899,4991.6,no,NaN
2885,76.0,retired,married,university.degree,no,NaN,no,cellular,aug,thu,...,999.0,1.0,failure,-2.9,92.201,-31.4,0.873,5076.2,no,NaN
1850,76.0,retired,married,professional.course,unknown,NaN,no,cellular,jun,tue,...,3.0,1.0,success,-1.7,94.055,-39.8,0.761,4991.6,NaN,NaN
228,76.0,retired,single,basic.4y,no,no,no,cellular,nov,mon,...,6.0,1.0,success,-3.4,92.649,-30.1,0.715,5017.5,NaN,NaN
128,75.0,retired,married,basic.4y,no,no,no,cellular,apr,tue,...,999.0,1.0,failure,-1.8,93.075,-47.1,1.405,5099.1,NaN,NaN
750,75.0,retired,married,university.degree,no,NaN,no,cellular,jul,thu,...,999.0,2.0,failure,-1.7,94.215,-40.3,0.810,4991.6,NaN,NaN
537,74.0,retired,married,university.degree,no,no,no,telephone,oct,mon,...,999.0,0.0,nonexistent,-1.1,94.601,-49.5,0.977,4963.6,no,NaN
2767,74.0,retired,divorced,high.school,no,NaN,NaN,telephone,dec,mon,...,999.0,0.0,nonexistent,-3.0,92.713,-33.0,0.715,5023.5,no,NaN
4034,74.0,retired,married,university.degree,no,NaN,NaN,cellular,aug,wed,...,999.0,0.0,nonexistent,-2.9,92.201,-31.4,0.854,5076.2,NaN,NaN
450,73.0,retired,married,university.degree,no,NaN,no,cellular,mar,fri,...,999.0,0.0,nonexistent,-1.8,92.843,-50.0,1.531,5099.1,NaN,NaN
1489,73.0,retired,married,professional.course,no,NaN,no,cellular,aug,thu,...,999.0,0.0,nonexistent,-2.9,92.201,-31.4,0.873,5076.2,no,NaN
3970,73.0,retired,married,basic.4y,no,NaN,no,cellular,mar,mon,...,999.0,1.0,failure,-1.8,93.369,-34.8,0.646,5008.7,no,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2381,23.0,blue-collar,single,professional.course,no,NaN,no,cellular,may,fri,...,999.0,1.0,failure,-1.8,92.893,-46.2,1.250,5099.1,no,no
1504,23.0,blue-collar,single,basic.9y,no,NaN,no,cellular,jul,thu,...,999.0,0.0,nonexistent,1.4,93.918,-42.7,4.962,5228.1,no,no
368,23.0,management,single,university.degree,no,NaN,no,cellular,jul,tue,...,999.0,0.0,nonexistent,1.4,93.918,-42.7,4.961,5228.1,no,no
1790,23.0,admin.,single,university.degree,no,no,NaN,cellular,apr,wed,...,999.0,0.0,nonexistent,-1.8,93.075,-47.1,1.405,5099.1,no,no
4019,23.0,student,single,high.school,no,no,no,cellular,may,thu,...,999.0,0.0,nonexistent,-1.8,92.893,-46.2,1.270,5099.1,no,no
641,22.0,blue-collar,single,basic.9y,no,NaN,no,telephone,jul,mon,...,999.0,0.0,nonexistent,1.4,93.918,-42.7,4.960,5228.1,no,no
3648,22.0,student,single,high.school,no,no,no,cellular,aug,thu,...,3.0,1.0,success,-2.9,92.201,-31.4,0.873,5076.2,no,no
2286,22.0,blue-collar,single,basic.9y,no,no,no,cellular,jul,fri,...,999.0,0.0,nonexistent,1.4,93.918,-42.7,4.957,5228.1,no,no
3245,22.0,blue-collar,married,professional.course,no,NaN,no,cellular,jul,fri,...,999.0,0.0,nonexistent,1.4,93.918,-42.7,4.963,5228.1,no,no
3659,22.0,blue-collar,single,basic.6y,unknown,unknown,unknown,telephone,may,tue,...,999.0,0.0,nonexistent,1.1,93.994,-36.4,4.856,5191.0,no,no
220,22.0,student,single,high.school,no,no,NaN,cellular,jul,fri,...,999.0,0.0,nonexistent,1.4,93.918,-42.7,4.957,5228.1,no,no
1258,22.0,services,single,basic.4y,no,no,no,telephone,may,wed,...,999.0,0.0,nonexistent,1.1,93.994,-36.4,4.858,5191.0,no,no
2677,22.0,services,single,high.school,no,NaN,no,telephone,jun,mon,...,999.0,0.0,nonexistent,-2.9,92.963,-40.8,1.260,5076.2,no,no
2902,22.0,admin.,single,university.degree,no,NaN,no,cellular,sep,mon,...,999.0,3.0,failure,-1.1,94.199,-37.5,0.882,4963.6,NaN,no
2359,22.0,blue-collar,single,basic.9y,no,NaN,NaN,cellular,jul,mon,...,999.0,0.0,nonexistent,1.4,93.918,-42.7,4.960,5228.1,NaN,no
2169,21.0,student,single,high.school,no,no,no,cellular,oct,tue,...,999.0,0.0,nonexistent,-1.1,94.601,-49.5,0.982,4963.6,NaN,no
3764,21.0,blue-collar,married,basic.9y,no,no,NaN,cellular,jul,wed,...,999.0,0.0,nonexistent,1.4,93.918,-42.7,4.963,5228.1,no,no
908,21.0,student,single,high.school,no,NaN,NaN,cellular,jun,wed,...,999.0,0.0,nonexistent,-1.7,94.055,-39.8,0.767,4991.6,NaN,no
1040,21.0,services,single,high.school,no,NaN,NaN,cellular,apr,thu,...,999.0,0.0,nonexistent,-1.8,93.075,-47.1,1.435,5099.1,no,no
2629,21.0,student,single,high.school,no,no,no,cellular,oct,mon,...,999.0,0.0,nonexistent,-3.4,92.431,-26.9,0.739,5017.5,NaN,no
200,21.0,student,single,high.school,no,no,no,cellular,aug,tue,...,999.0,1.0,failure,-2.9,92.201,-31.4,0.884,5076.2,no,no
1510,21.0,student,single,professional.course,no,no,no,telephone,nov,wed,...,999.0,0.0,nonexistent,-3.4,92.649,-30.1,0.716,5017.5,no,no
39,20.0,student,single,unknown,no,no,no,cellular,oct,mon,...,999.0,3.0,failure,-1.1,94.601,-49.5,0.977,4963.6,no,no
3268,20.0,blue-collar,single,high.school,no,NaN,no,cellular,may,wed,...,999.0,0.0,nonexistent,-1.8,92.893,-46.2,1.334,5099.1,no,no
1275,20.0,student,single,high.school,no,no,no,cellular,nov,wed,...,999.0,0.0,nonexistent,-3.4,92.649,-30.1,0.715,5017.5,no,no
1377,20.0,student,single,unknown,no,NaN,NaN,cellular,apr,tue,...,999.0,0.0,nonexistent,-1.8,93.075,-47.1,1.405,5099.1,no,no
1887,19.0,student,single,high.school,unknown,NaN,no,cellular,may,tue,...,999.0,0.0,nonexistent,-1.8,92.893,-46.2,1.344,5099.1,no,no
899,18.0,student,single,unknown,no,NaN,NaN,telephone,aug,wed,...,999.0,0.0,nonexistent,-1.7,94.027,-38.3,0.900,4991.6,no,no
477,18.0,student,single,unknown,no,no,no,cellular,sep,thu,...,3.0,1.0,success,-3.4,92.379,-29.8,0.809,5017.5,NaN,no
1661,18.0,student,single,unknown,no,NaN,no,cellular,may,thu,...,7.0,2.0,success,-1.8,93.876,-40.0,0.677,5008.7,no,no

Q.11.3    
★以下のデータフレームを作成せよ。（１行目はヘッダーとして列名を表す。）  
A, B  
1, 2  
3, 4  
5, 6

In [48]:
new_df = pd.DataFrame(data=[[1,2],[3,4],[5,6]], columns=["A","B"])
new_df

   A  B
0  1  2
1  3  4
2  5  6

Q.12.1    
★以下のデータフレームを作成し、day_of_week列でdfとmergeせよ。（１行目はヘッダーとして列名を表す。）  
day_of_week, week_index  
sun,1  
mon,2   
tue,3  
wed,4  
thu,5  
fri,6  
sat,7

In [49]:
new_df = pd.DataFrame(data=[["sun",1],
                                                        ["mon",2],
                                                        ["tue",3],
                                                        ["wed",4],
                                                        ["thu",5],
                                                        ["fri",6],
                                                        ["sat",7]], columns=["day_of_week","week_index"])
df.merge(new_df, on="day_of_week")

,age,job,marital,education,default,housing,loan,contact,month,day_of_week,...,previous,poutcome,emp.var.rate,cons.price.idx,cons.conf.idx,euribor3m,nr.employed,y,over_25,week_index
0,30.0,blue-collar,married,basic.9y,no,NaN,no,cellular,may,fri,...,0.0,nonexistent,-1.8,92.893,-46.2,1.313,5099.1,no,NaN,6
1,39.0,services,single,high.school,no,no,no,telephone,may,fri,...,0.0,nonexistent,1.1,93.994,-36.4,4.855,5191.0,no,NaN,6
2,38.0,services,married,basic.9y,no,unknown,unknown,telephone,jun,fri,...,0.0,nonexistent,1.4,94.465,-41.8,4.959,5228.1,no,NaN,6
3,29.0,admin.,single,high.school,no,no,no,cellular,may,fri,...,0.0,nonexistent,-1.8,92.893,-46.2,1.313,5099.1,no,NaN,6
4,44.0,technician,married,professional.course,unknown,NaN,no,telephone,may,fri,...,0.0,nonexistent,1.1,93.994,-36.4,4.864,5191.0,no,NaN,6
5,51.0,technician,single,university.degree,no,no,no,cellular,jun,fri,...,0.0,nonexistent,-2.9,92.963,-40.8,1.268,5076.2,no,NaN,6
6,38.0,blue-collar,married,basic.9y,unknown,unknown,unknown,telephone,jun,fri,...,0.0,nonexistent,1.4,94.465,-41.8,4.967,5228.1,no,NaN,6
7,32.0,housemaid,married,basic.4y,no,NaN,NaN,cellular,may,fri,...,0.0,nonexistent,-1.8,92.893,-46.2,1.313,5099.1,no,NaN,6
8,32.0,services,married,high.school,no,no,NaN,cellular,jul,fri,...,0.0,nonexistent,1.4,93.918,-42.7,4.957,5228.1,no,NaN,6
9,39.0,management,married,high.school,no,no,no,cellular,aug,fri,...,0.0,nonexistent,1.4,93.444,-36.1,4.966,5228.1,no,NaN,6
10,29.0,admin.,single,university.degree,no,NaN,no,telephone,jun,fri,...,0.0,nonexistent,1.4,94.465,-41.8,4.959,5228.1,no,NaN,6
11,37.0,self-employed,married,university.degree,no,no,no,cellular,may,fri,...,1.0,failure,-1.8,92.893,-46.2,1.313,5099.1,no,NaN,6
12,33.0,unemployed,married,basic.9y,no,no,no,telephone,jun,fri,...,0.0,nonexistent,1.4,94.465,-41.8,4.959,5228.1,no,NaN,6
13,25.0,self-employed,married,university.degree,no,NaN,no,telephone,may,fri,...,0.0,nonexistent,1.1,93.994,-36.4,4.857,5191.0,no,no,6
14,37.0,management,married,university.degree,unknown,no,NaN,cellular,apr,fri,...,1.0,failure,-1.8,93.075,-47.1,1.405,5099.1,no,NaN,6
15,38.0,admin.,single,unknown,no,NaN,no,cellular,may,fri,...,0.0,nonexistent,-1.8,92.893,-46.2,1.313,5099.1,no,NaN,6
16,45.0,services,married,high.school,unknown,NaN,no,cellular,may,fri,...,0.0,nonexistent,-1.8,92.893,-46.2,1.250,5099.1,no,NaN,6
17,55.0,blue-collar,married,professional.course,no,NaN,NaN,cellular,may,fri,...,1.0,failure,-1.8,92.893,-46.2,1.250,5099.1,no,NaN,6
18,42.0,admin.,married,high.school,no,NaN,no,cellular,jul,fri,...,0.0,nonexistent,1.4,93.918,-42.7,4.962,5228.1,no,NaN,6
19,33.0,services,single,high.school,no,NaN,no,telephone,may,fri,...,0.0,nonexistent,1.1,93.994,-36.4,4.864,5191.0,no,NaN,6
20,45.0,admin.,married,high.school,no,NaN,no,cellular,oct,fri,...,1.0,success,-1.1,94.601,-49.5,1.029,4963.6,NaN,NaN,6
21,32.0,admin.,married,university.degree,no,NaN,no,cellular,may,fri,...,0.0,nonexistent,-1.8,92.893,-46.2,1.313,5099.1,no,NaN,6
22,49.0,services,married,high.school,no,NaN,no,telephone,may,fri,...,0.0,nonexistent,1.1,93.994,-36.4,4.855,5191.0,no,NaN,6
23,46.0,blue-collar,married,professional.course,no,no,no,cellular,nov,fri,...,0.0,nonexistent,-1.1,94.767,-50.8,1.028,4963.6,no,NaN,6
24,44.0,technician,married,professional.course,no,no,no,telephone,may,fri,...,0.0,nonexistent,1.1,93.994,-36.4,4.864,5191.0,no,NaN,6
25,52.0,blue-collar,married,basic.9y,no,no,no,cellular,aug,fri,...,0.0,nonexistent,1.4,93.444,-36.1,4.966,5228.1,NaN,NaN,6
26,51.0,technician,married,unknown,no,NaN,no,telephone,jun,fri,...,0.0,nonexistent,1.4,94.465,-41.8,4.959,5228.1,no,NaN,6
27,45.0,management,married,basic.4y,unknown,NaN,no,telephone,may,fri,...,0.0,nonexistent,1.1,93.994,-36.4,4.855,5191.0,no,NaN,6
28,44.0,admin.,married,high.school,no,NaN,no,cellular,aug,fri,...,0.0,nonexistent,1.4,93.444,-36.1,4.964,5228.1,no,NaN,6
29,51.0,blue-collar,married,basic.6y,no,no,no,cellular,aug,fri,...,0.0,nonexistent,1.4,93.444,-36.1,4.964,5228.1,no,NaN,6
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
4090,26.0,student,single,professional.course,no,NaN,no,cellular,aug,tue,...,1.0,failure,-2.9,92.201,-31.4,0.883,5076.2,NaN,NaN,3
4091,58.0,retired,married,basic.4y,no,no,no,cellular,jul,tue,...,0.0,nonexistent,1.4,93.918,-42.7,4.961,5228.1,no,NaN,3
4092,31.0,admin.,single,professional.course,no,no,no,cellular,jul,tue,...,0.0,nonexistent,1.4,93.918,-42.7,4.962,5228.1,no,NaN,3
4093,28.0,technician,married,professional.course,no,no,no,cellular,jul,tue,...,0.0,nonexistent,1.4,93.918,-42.7,4.961,5228.1,no,NaN,3
4094,29.0,management,single,university.degree,no,no,NaN,cellular,aug,tue,...,0.0,nonexistent,1.4,93.444,-36.1,4.963,5228.1,no,NaN,3
4095,61.0,retired,divorced,university.degree,no,NaN,no,cellular,apr,tue,...,0.0,nonexistent,-1.8,93.075,-47.1,1.384,5099.1,no,NaN,3
4096,50.0,management,single,university.degree,no,NaN,no,cellular,nov,tue,...,1.0,failure,-0.1,93.200,-42.0,4.153,5195.8,no,NaN,3
4097,43.0,admin.,married,university.degree,no,no,NaN,cellular,aug,tue,...,1.0,success,-2.9,92.201,-31.4,0.838,5076.2,no,NaN,3
4098,35.0,admin.,married,basic.9y,no,no,no,telephone,may,tue,...,0.0,nonexistent,1.1,93.994,-36.4,4.857,5191.0,no,NaN,3
4099,30.0,admin.,single,university.degree,no,NaN,no,cellular,jul,tue,...,0.0,nonexistent,1.4,93.918,-42.7,4.961,5228.1,no,NaN,3
4100,55.0,admin.,married,high.school,unknown,NaN,no,cellular,may,tue,...,1.0,failure,-1.8,92.893,-46.2,1.291,5099.1,no,NaN,3
4101,66.0,retired,married,high.school,no,unknown,unknown,cellular,mar,tue,...,1.0,failure,-1.8,93.369,-34.8,0.646,5008.7,NaN,NaN,3
4102,38.0,technician,single,high.school,no,NaN,NaN,cellular,aug,tue,...,0.0,nonexistent,1.4,93.444,-36.1,4.965,5228.1,no,NaN,3
4103,35.0,technician,married,professional.course,no,no,no,telephone,may,tue,...,0.0,nonexistent,1.1,93.994,-36.4,4.856,5191.0,no,NaN,3
4104,37.0,management,married,university.degree,no,no,no,cellular,nov,tue,...,1.0,failure,-0.1,93.200,-42.0,4.153,5195.8,no,NaN,3
4105,39.0,services,married,basic.9y,no,NaN,no,cellular,nov,tue,...,0.0,nonexistent,-0.1,93.200,-42.0,4.153,5195.8,no,NaN,3
4106,45.0,blue-collar,married,basic.4y,unknown,NaN,no,cellular,aug,tue,...,0.0,nonexistent,1.4,93.444,-36.1,4.963,5228.1,no,NaN,3
4107,37.0,technician,divorced,professional.course,no,unknown,unknown,cellular,aug,tue,...,0.0,nonexistent,1.4,93.444,-36.1,4.965,5228.1,no,NaN,3
4108,32.0,blue-collar,married,basic.9y,no,no,no,telephone,nov,tue,...,0.0,nonexistent,-0.1,93.200,-42.0,4.153,5195.8,no,NaN,3
4109,27.0,services,married,university.degree,no,no,no,cellular,may,tue,...,0.0,nonexistent,-1.8,92.893,-46.2,1.266,5099.1,no,NaN,3
4110,41.0,blue-collar,married,basic.6y,no,NaN,NaN,cellular,apr,tue,...,0.0,nonexistent,-1.8,93.075,-47.1,1.423,5099.1,no,NaN,3
4111,36.0,services,married,high.school,no,no,NaN,telephone,may,tue,...,0.0,nonexistent,1.1,93.994,-36.4,4.857,5191.0,no,NaN,3
4112,60.0,technician,married,university.degree,no,NaN,no,cellular,aug,tue,...,0.0,nonexistent,1.4,93.444,-36.1,4.965,5228.1,no,NaN,3
4113,42.0,technician,single,university.degree,no,NaN,no,cellular,aug,tue,...,0.0,nonexistent,1.4,93.444,-36.1,4.966,5228.1,no,NaN,3
4114,43.0,blue-collar,married,basic.4y,unknown,NaN,NaN,telephone,may,tue,...,0.0,nonexistent,1.1,93.994,-36.4,4.857,5191.0,no,NaN,3
4115,56.0,retired,married,basic.4y,unknown,no,no,cellular,jul,tue,...,0.0,nonexistent,1.4,93.918,-42.7,4.961,5228.1,no,NaN,3
4116,41.0,blue-collar,divorced,basic.9y,no,no,no,cellular,aug,tue,...,0.0,nonexistent,1.4,93.444,-36.1,4.963,5228.1,no,NaN,3
4117,58.0,admin.,divorced,high.school,no,no,no,cellular,aug,tue,...,0.0,nonexistent,1.4,93.444,-36.1,4.963,5228.1,no,NaN,3
4118,47.0,housemaid,married,basic.4y,unknown,NaN,no,telephone,jul,tue,...,0.0,nonexistent,1.4,93.918,-42.7,4.961,5228.1,no,NaN,3
4119,45.0,entrepreneur,divorced,basic.9y,no,NaN,no,cellular,may,tue,...,0.0,nonexistent,-1.8,92.893,-46.2,1.344,5099.1,no,NaN,3

Q.12.2    
★dfの1-3行を切り出してnew_dfとし、dfに行を追加する形でappendせよ。  
その際に、インデックスは初期化せよ。

In [50]:
new_df = df.iloc[:3, :]
df.append(new_df, ignore_index=True)

,age,job,marital,education,default,housing,loan,contact,month,day_of_week,...,pdays,previous,poutcome,emp.var.rate,cons.price.idx,cons.conf.idx,euribor3m,nr.employed,y,over_25
0,30.0,blue-collar,married,basic.9y,no,NaN,no,cellular,may,fri,...,999.0,0.0,nonexistent,-1.8,92.893,-46.2,1.313,5099.1,no,NaN
1,39.0,services,single,high.school,no,no,no,telephone,may,fri,...,999.0,0.0,nonexistent,1.1,93.994,-36.4,4.855,5191.0,no,NaN
2,25.0,services,married,high.school,no,NaN,no,telephone,jun,wed,...,999.0,0.0,nonexistent,1.4,94.465,-41.8,4.962,5228.1,no,no
3,38.0,services,married,basic.9y,no,unknown,unknown,telephone,jun,fri,...,999.0,0.0,nonexistent,1.4,94.465,-41.8,4.959,5228.1,no,NaN
4,47.0,admin.,married,university.degree,no,NaN,no,cellular,nov,mon,...,999.0,0.0,nonexistent,-0.1,93.200,-42.0,4.191,5195.8,no,NaN
5,32.0,services,single,university.degree,no,no,no,cellular,sep,thu,...,999.0,2.0,failure,-1.1,94.199,-37.5,0.884,4963.6,no,NaN
6,32.0,admin.,single,university.degree,no,NaN,no,cellular,sep,mon,...,999.0,0.0,nonexistent,-1.1,94.199,-37.5,0.879,4963.6,no,NaN
7,41.0,entrepreneur,married,university.degree,unknown,NaN,no,cellular,nov,mon,...,999.0,0.0,nonexistent,-0.1,93.200,-42.0,4.191,5195.8,no,NaN
8,31.0,services,divorced,professional.course,no,no,no,cellular,nov,tue,...,999.0,1.0,failure,-0.1,93.200,-42.0,4.153,5195.8,no,NaN
9,35.0,blue-collar,married,basic.9y,unknown,no,no,telephone,may,thu,...,999.0,0.0,nonexistent,1.1,93.994,-36.4,4.855,5191.0,no,NaN
10,25.0,services,single,basic.6y,unknown,NaN,no,cellular,jul,thu,...,999.0,0.0,nonexistent,1.4,93.918,-42.7,4.958,5228.1,no,no
11,36.0,self-employed,single,basic.4y,no,no,no,cellular,jul,thu,...,999.0,0.0,nonexistent,1.4,93.918,-42.7,4.968,5228.1,no,NaN
12,36.0,admin.,married,high.school,no,no,no,telephone,may,wed,...,999.0,0.0,nonexistent,1.1,93.994,-36.4,4.859,5191.0,no,NaN
13,47.0,blue-collar,married,basic.4y,no,NaN,no,telephone,jun,thu,...,999.0,0.0,nonexistent,1.4,94.465,-41.8,4.958,5228.1,no,NaN
14,29.0,admin.,single,high.school,no,no,no,cellular,may,fri,...,999.0,0.0,nonexistent,-1.8,92.893,-46.2,1.313,5099.1,no,NaN
15,27.0,services,single,university.degree,no,no,no,cellular,jul,wed,...,999.0,0.0,nonexistent,1.4,93.918,-42.7,4.963,5228.1,no,NaN
16,44.0,admin.,divorced,university.degree,no,no,no,cellular,jul,wed,...,999.0,0.0,nonexistent,1.4,93.918,-42.7,4.957,5228.1,no,NaN
17,46.0,admin.,divorced,university.degree,no,NaN,no,telephone,jul,mon,...,999.0,0.0,nonexistent,1.4,93.918,-42.7,4.962,5228.1,no,NaN
18,45.0,entrepreneur,married,university.degree,unknown,NaN,NaN,cellular,aug,mon,...,999.0,0.0,nonexistent,1.4,93.444,-36.1,4.965,5228.1,no,NaN
19,50.0,blue-collar,married,basic.4y,no,no,NaN,cellular,jul,tue,...,999.0,0.0,nonexistent,1.4,93.918,-42.7,4.961,5228.1,NaN,NaN
20,55.0,services,married,basic.6y,unknown,NaN,no,cellular,jul,tue,...,999.0,0.0,nonexistent,1.4,93.918,-42.7,4.962,5228.1,no,NaN
21,39.0,technician,divorced,high.school,no,no,no,cellular,mar,mon,...,12.0,2.0,success,-1.8,93.369,-34.8,0.639,5008.7,NaN,NaN
22,29.0,technician,single,university.degree,no,NaN,NaN,cellular,aug,wed,...,999.0,0.0,nonexistent,1.4,93.444,-36.1,4.967,5228.1,no,NaN
23,40.0,management,married,high.school,no,no,NaN,cellular,aug,wed,...,999.0,0.0,nonexistent,1.4,93.444,-36.1,4.965,5228.1,no,NaN
24,44.0,technician,married,professional.course,unknown,NaN,no,telephone,may,fri,...,999.0,0.0,nonexistent,1.1,93.994,-36.4,4.864,5191.0,no,NaN
25,38.0,technician,married,professional.course,no,NaN,no,cellular,aug,mon,...,999.0,0.0,nonexistent,1.4,93.444,-36.1,4.965,5228.1,NaN,NaN
26,36.0,technician,divorced,professional.course,no,no,no,telephone,may,wed,...,999.0,0.0,nonexistent,1.1,93.994,-36.4,4.856,5191.0,no,NaN
27,28.0,blue-collar,married,basic.6y,unknown,no,no,cellular,may,mon,...,999.0,1.0,failure,-1.8,92.893,-46.2,1.299,5099.1,no,NaN
28,47.0,admin.,single,unknown,unknown,no,no,telephone,may,thu,...,999.0,0.0,nonexistent,1.1,93.994,-36.4,4.860,5191.0,no,NaN
29,34.0,admin.,married,university.degree,no,no,no,cellular,aug,tue,...,999.0,0.0,nonexistent,1.4,93.444,-36.1,4.963,5228.1,no,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
4093,56.0,retired,married,basic.4y,unknown,no,no,cellular,jul,tue,...,999.0,0.0,nonexistent,1.4,93.918,-42.7,4.961,5228.1,no,NaN
4094,62.0,blue-collar,married,basic.4y,no,NaN,no,cellular,nov,mon,...,6.0,1.0,success,-3.4,92.649,-30.1,0.719,5017.5,no,NaN
4095,36.0,admin.,single,university.degree,no,no,NaN,cellular,aug,fri,...,999.0,0.0,nonexistent,1.4,93.444,-36.1,4.963,5228.1,no,NaN
4096,33.0,services,married,high.school,no,no,no,telephone,may,mon,...,999.0,0.0,nonexistent,1.1,93.994,-36.4,4.857,5191.0,no,NaN
4097,41.0,blue-collar,divorced,basic.9y,no,no,no,cellular,aug,tue,...,999.0,0.0,nonexistent,1.4,93.444,-36.1,4.963,5228.1,no,NaN
4098,34.0,housemaid,single,university.degree,no,NaN,no,cellular,aug,thu,...,999.0,0.0,nonexistent,1.4,93.444,-36.1,4.963,5228.1,no,NaN
4099,58.0,admin.,divorced,high.school,no,no,no,cellular,aug,tue,...,999.0,0.0,nonexistent,1.4,93.444,-36.1,4.963,5228.1,no,NaN
4100,41.0,admin.,divorced,high.school,no,no,no,cellular,apr,fri,...,999.0,0.0,nonexistent,-1.8,93.075,-47.1,1.405,5099.1,no,NaN
4101,35.0,entrepreneur,single,university.degree,no,NaN,no,cellular,jul,mon,...,999.0,0.0,nonexistent,1.4,93.918,-42.7,4.960,5228.1,no,NaN
4102,31.0,blue-collar,single,basic.9y,unknown,no,NaN,telephone,jun,fri,...,999.0,0.0,nonexistent,1.4,94.465,-41.8,4.959,5228.1,no,NaN
4103,43.0,services,married,high.school,no,no,no,telephone,may,mon,...,999.0,0.0,nonexistent,1.1,93.994,-36.4,4.857,5191.0,no,NaN
4104,42.0,technician,divorced,professional.course,no,NaN,no,cellular,aug,mon,...,999.0,0.0,nonexistent,1.4,93.444,-36.1,4.970,5228.1,no,NaN
4105,47.0,housemaid,married,basic.4y,unknown,NaN,no,telephone,jul,tue,...,999.0,0.0,nonexistent,1.4,93.918,-42.7,4.961,5228.1,no,NaN
4106,45.0,entrepreneur,divorced,basic.9y,no,NaN,no,cellular,may,tue,...,999.0,0.0,nonexistent,-1.8,92.893,-46.2,1.344,5099.1,no,NaN
4107,36.0,admin.,married,university.degree,unknown,NaN,no,cellular,aug,wed,...,999.0,0.0,nonexistent,1.4,93.444,-36.1,4.964,5228.1,no,NaN
4108,32.0,admin.,married,university.degree,no,NaN,no,telephone,may,thu,...,999.0,0.0,nonexistent,-1.8,92.893,-46.2,1.266,5099.1,no,NaN
4109,63.0,retired,married,high.school,no,no,no,cellular,oct,wed,...,999.0,0.0,nonexistent,-3.4,92.431,-26.9,0.740,5017.5,no,NaN
4110,53.0,housemaid,divorced,basic.6y,unknown,unknown,unknown,telephone,may,fri,...,999.0,0.0,nonexistent,1.1,93.994,-36.4,4.855,5191.0,no,NaN
4111,30.0,technician,married,university.degree,no,no,NaN,cellular,jun,fri,...,999.0,1.0,failure,-1.7,94.055,-39.8,0.748,4991.6,no,NaN
4112,31.0,technician,single,professional.course,no,NaN,no,cellular,nov,thu,...,999.0,0.0,nonexistent,-0.1,93.200,-42.0,4.076,5195.8,no,NaN
4113,31.0,admin.,single,university.degree,no,NaN,no,cellular,nov,thu,...,999.0,0.0,nonexistent,-0.1,93.200,-42.0,4.076,5195.8,no,NaN
4114,30.0,admin.,married,basic.6y,no,NaN,NaN,cellular,jul,thu,...,999.0,0.0,nonexistent,1.4,93.918,-42.7,4.958,5228.1,no,NaN
4115,39.0,admin.,married,high.school,no,NaN,no,telephone,jul,fri,...,999.0,0.0,nonexistent,1.4,93.918,-42.7,4.959,5228.1,no,NaN
4116,27.0,student,single,high.school,no,no,no,cellular,may,mon,...,999.0,1.0,failure,-1.8,92.893,-46.2,1.354,5099.1,no,NaN
4117,58.0,admin.,married,high.school,no,no,no,cellular,aug,fri,...,999.0,0.0,nonexistent,1.4,93.444,-36.1,4.966,5228.1,no,NaN
4118,34.0,management,single,high.school,no,NaN,no,cellular,nov,wed,...,999.0,0.0,nonexistent,-0.1,93.200,-42.0,4.120,5195.8,no,NaN
4119,34.0,management,single,high.school,no,NaN,no,cellular,nov,wed,...,999.0,0.0,nonexistent,-0.1,93.200,-42.0,4.120,5195.8,no,NaN
4120,30.0,blue-collar,married,basic.9y,no,NaN,no,cellular,may,fri,...,999.0,0.0,nonexistent,-1.8,92.893,-46.2,1.313,5099.1,no,NaN
4121,39.0,services,single,high.school,no,no,no,telephone,may,fri,...,999.0,0.0,nonexistent,1.1,93.994,-36.4,4.855,5191.0,no,NaN
4122,25.0,services,married,high.school,no,NaN,no,telephone,jun,wed,...,999.0,0.0,nonexistent,1.4,94.465,-41.8,4.962,5228.1,no,no

Q.13.1    
★ dfのday_of_weekをone-hotエンコーディングしたデータフレームを表示せよ。

In [51]:
pd.get_dummies(df["day_of_week"])

      fri  mon  thu  tue  wed
0       1    0    0    0    0
1       1    0    0    0    0
2       0    0    0    0    1
3       1    0    0    0    0
4       0    1    0    0    0
5       0    0    1    0    0
6       0    1    0    0    0
7       0    1    0    0    0
8       0    0    0    1    0
9       0    0    1    0    0
10      0    0    1    0    0
11      0    0    1    0    0
12      0    0    0    0    1
13      0    0    1    0    0
14      1    0    0    0    0
15      0    0    0    0    1
16      0    0    0    0    1
17      0    1    0    0    0
18      0    1    0    0    0
19      0    0    0    1    0
20      0    0    0    1    0
21      0    1    0    0    0
22      0    0    0    0    1
23      0    0    0    0    1
24      1    0    0    0    0
25      0    1    0    0    0
26      0    0    0    0    1
27      0    1    0    0    0
28      0    0    1    0    0
29      0    0    0    1    0
...   ...  ...  ...  ...  ...
4090    0    0    0    1    0
4091    0    0    1    0    0
4092    0    0    0    0    1
4093    0    0    0    1    0
4094    0    1    0    0    0
4095    1    0    0    0    0
4096    0    1    0    0    0
4097    0    0    0    1    0
4098    0    0    1    0    0
4099    0    0    0    1    0
4100    1    0    0    0    0
4101    0    1    0    0    0
4102    1    0    0    0    0
4103    0    1    0    0    0
4104    0    1    0    0    0
4105    0    0    0    1    0
4106    0    0    0    1    0
4107    0    0    0    0    1
4108    0    0    1    0    0
4109    0    0    0    0    1
4110    1    0    0    0    0
4111    1    0    0    0    0
4112    0    0    1    0    0
4113    0    0    1    0    0
4114    0    0    1    0    0
4115    1    0    0    0    0
4116    0    1    0    0    0
4117    1    0    0    0    0
4118    0    0    0    0    1
4119    0    0    0    0    1

[4120 rows x 5 columns]